@model ERPKeeper.Node.Models.Tasks.Task

<form id="EditForm" action="/Operation/Tasks/@Model.Uid/Update" method="post">
    <div class="m-1m">
        <div class="row">
            <div class="col-6 p-1">
                <div class=" bg-fb1 p-2 mb-2 rounded">
                    <div class="mb-3 font-weight-600">General</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m=>m.Name).Label("Name").LabelMode(EditorLabelMode.Floating)</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m=>m.Title).Label("Title").LabelMode(EditorLabelMode.Floating)</div>
                     @(Html.DevExtreme().SelectBoxFor(m=>m.ResponsibleMemberUid)
                        .DataSource(Organization.ErpNodeDBContext.Members.ToList().Select(t => new { t.ProfileUid, t.Profile.Name }).ToList())
                        .Placeholder("Choose Responsible")
                        .DisplayExpr("Name")
                        .ValueExpr("ProfileUid")
                        .ShowClearButton(true)
                        .LabelMode(EditorLabelMode.Floating)
                        )
                </div>
            </div>
            <div class="col-6 p-1">
                <div class=" bg-fb1 p-2 mb-2 rounded">
                    <div class="mb-2">
                        <div class="mb-3 font-weight-600">Dates</div>
                        <div class="mb-2">@Html.DevExtreme().DateBoxFor(m=>m.CreatedDate).Label("CreatedDate").LabelMode(EditorLabelMode.Floating)</div>
                        <div class="mb-2">@Html.DevExtreme().DateBoxFor(m=>m.DueDate).Label("DueDate").LabelMode(EditorLabelMode.Floating)</div>
                        <div class="mb-2">@Html.DevExtreme().DateBoxFor(m=>m.CloseDate).Label("CloseDate").LabelMode(EditorLabelMode.Floating)</div>
                    </div>
                </div>
            </div>
            <div class="col-6 p-1">
                <div class=" bg-fb1 p-2 mb-2 rounded">

                    <div class="mb-2">
                        <div class="mb-3 font-weight-600">Projects</div>

                        @(Html.DevExtreme().SelectBoxFor(m=>m.ProjectUid)
                        .DataSource(Organization.Projects.ListAll().Select(t => new { t.Uid, t.Name }).ToList())
                        .Placeholder("Choose Projects")
                        .DisplayExpr("Name")
                        .ValueExpr("Uid")
                        .ShowClearButton(true)
                        .LabelMode(EditorLabelMode.Floating)
                        )
                    </div>
                </div>
            </div>

        
            <div class="col-6 p-1">
                <div class=" bg-fb1 p-2 mb-2 rounded">
                    <div class="mb-3 font-weight-600">Memo</div>
                    <div class="mb-2">@Html.DevExtreme().TextAreaFor(m=>m.Detail).Height(150).Label("Detail").LabelMode(EditorLabelMode.Floating)</div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="document.getElementById('EditForm').submit();">
        Save
    </button>
</form>
