@model ERPKeeper.Node.Models.Transactions.Commercial


@if (Model.GeneralPaymentUid == null)
{
    <div class="p-2 mb-2 bg-fb2 mh-50 rounded text-right">
        <a href="@DevExpressHelper.GetUrl(new { Controller="Sale", Action = "CreatePayment", id = Model.Uid , payDate = Model.TrnDate })" class="text-white btn btn-secondary btn-sm active" role="button" aria-pressed="true">
            <i class="fas fa-plus-circle fa-lg "></i> Cash Pay (@Model.TrnDate.ToShortDateString())
        </a>
        <a href="@DevExpressHelper.GetUrl(new { Controller="Sale", Action = "CreatePayment", id = Model.Uid })" class="text-white btn btn-secondary btn-sm active" role="button" aria-pressed="true">
            <i class="fas fa-plus-circle fa-lg "></i> Pay
        </a>
    </div>
}
else
{
    <div class="row p-2 mb-2 bg-fb2 mh-50 rounded">
        <div class="col-12 p-0 font-weight-bold">Payment</div>
        <div class="col-6 p-0 ">
            <a href="@Url.Action("Home","ReceivePayment",new { Id= Model.GeneralPaymentUid})">
                @Model.GeneralPayment.Name .
            </a>
        </div>
        <div class="col-6 p-0 text-right">
            <a href="@Url.Action("Home","ReceivePayment",new { Id= Model.GeneralPaymentUid})">
                @Model.GeneralPayment.TrnDate.ToString("dd-MMM-yy")
            </a>
        </div>
    </div>
}

