@model ERPKeeper.Node.Models.Transactions.Commercial
@using ERPKeeper.Node.Models.Accounting.Enums

<div class="row">
    <div class="col-2 col-Left pl-0">
        @Html.Action("_Main", "Default", new { Area = "Menu" })
    </div>
    <div class="col col-Middle p-0">
        @Html.Partial("_MenuTop")
        @Html.Partial("~/Areas/Commercials/Views/Commercial/_Detail.cshtml", Model)
    </div>
    <div class="col-3 col-Right pr-0">
        <div class="bg-fb1 p-2 rounded mh-50 mb-2">
            <a href="https://newerp.advancemaker.com/Incomes/Sales/@Model.Uid">
                > NEW ERP
            </a>
        </div>

        @Html.Partial("_Age")
        @Html.Action("_SummaryCallbackPanel", "Commercial", new { id = Model.Uid, Area = "Commercials" })

        @if (Model.PostStatus == LedgerPostStatus.Locked)
        {
            <div class="mb-2 bg-fb2 rounded">
                @Html.Action("_summaryLedger", "ledgers", new { area = "Accounting", id = Model.Uid })
                <div class="row p-2">
                    <div class="col p-0 font-weight-bold text-right">
                        <a href="@Url.Action("UnPost",new { id = Model.Uid })">UnPost</a>
                    </div>
                </div>
            </div>
        }


      
    </div>
</div>

