@{Layout = null;}
@using ERPKeeper.Node.Models.Suppliers.Enums

<div class="row bg-fb2 p-1 mb-2 mh-50 rounded">
    <div class="col-9 p-1">
        <ol class="breadcrumb mb-0 font-weight-bold bg-none p-0">
            <li class="breadcrumb-item text-uppercase">
                <a href="@Url.Action("Home", "Home",new { Area = "DashBoard"})">HOME</a>
            </li>
            <li class="breadcrumb-item text-uppercase active" aria-current="page">
                <a href="@Url.Action("Home", "Suppliers",new { Area = "Suppliers"})">Suppliers</a>
            </li>
        </ol>
    </div>

    <div class="col text-right">
        <a href="@Url.Action("Home", "Profiles",new { Area = "Profiles"})">
            <i class="fas fa-plus-circle fa-lg text-muted"></i>
        </a>

        <a href="@Url.Action("Top", "Suppliers",new { Area = "Suppliers"})">
            <i class="fas fa-chart-pie fa-lg text-muted"></i>
        </a>

        <span id="ImageMenuAction" style="cursor:pointer"><i class="fab fa-chrome fa-lg text-muted"></i></span>

        @Html.DevExpress().PopupMenu(settings =>
    {
        settings.Name = "PopupMenuAction";
        settings.PopupElementID = "ImageMenuAction";
        settings.ShowPopOutImages = DefaultBoolean.True;
        settings.PopupAction = PopupAction.LeftMouseClick;
        settings.Styles.Item.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(5);


        settings.Items.Add(item =>
        {
            item.Text = "Report";
            item.Items.Add("Update Sum").NavigateUrl = DevExpressHelper.GetUrl(new { Action = "UpdateAmount" });
        });

    }).GetHtml()
    </div>
</div>


@{
    var ActiveSupplierCount = erpNodeDBContext.Suppliers.Where(c => c.Status == SupplierStatus.Active).Count().ToString();
    var InActiveSupplierCount = erpNodeDBContext.Suppliers.Where(c => c.Status == SupplierStatus.InActive).Count().ToString();
}

<div class="row mb-3">
    <div class="col mh-50 bg-fb2 mr-2 p-2">
        <a href="@DevExpressHelper.GetUrl(new { Action = "Home", id = ERPKeeper.Node.Models.Profiles.ProfileQueryType.Active })">
            Active
            <div class="text-right mt-3 mx-3"><span class="font-weight-bold">@ActiveSupplierCount</span></div>
        </a>
    </div>
    <div class="col mh-50 bg-fb2 mr-2 p-2">
        <a href="@DevExpressHelper.GetUrl(new { Action = "Home", id = ERPKeeper.Node.Models.Profiles.ProfileQueryType.InActive })">
            In Active
            <div class="text-right mt-3 mx-3"><span class="font-weight-bold">@InActiveSupplierCount</span></div>
        </a>
    </div>
    <div class="col mh-50 bg-fb2 mr-2 p-2">

    </div>
    <div class="col mh-50 bg-fb2 mr-2 p-2">

    </div>
    <div class="col mh-50 bg-fb2 p-2">

    </div>
</div>