@using ERPKeeper.Node.Models.Estimations.Enums

@{
    var quoteCount = erpNodeDBContext.PurchaseEstimates.Where(e => e.Status == QuoteStatus.Quote).Count();
    var orderedCount = erpNodeDBContext.PurchaseEstimates.Where(e => e.Status == QuoteStatus.Ordered).Count();
    var closeCount = erpNodeDBContext.PurchaseEstimates.Where(e => e.Status == QuoteStatus.Close).Count();
    var voidCount = erpNodeDBContext.PurchaseEstimates.Where(e => e.Status == QuoteStatus.Void).Count();
}

    <div class="row bg-fb2 p-1 mb-2 mh-50 rounded">
        <div class="col-9 p-1">
            <ol class="breadcrumb mb-0 font-weight-bold bg-none p-0">
                <li class="breadcrumb-item text-uppercase">
                    <a href="@Url.Action("Home", "Home",new { Area = "DashBoard"})">HOME</a>
                </li>
                <li class="breadcrumb-item text-uppercase " aria-current="page">
                    <a href="@Url.Action("Home", "DashBoard",new { Area = "Suppliers"})">Suppliers</a>
                </li>
                <li class="breadcrumb-item text-uppercase " aria-current="page">
                    <a href="@Url.Action("Home", "Quotes",new { Area = "Suppliers"})">@Lang.Quotes</a>
                </li>
            </ol>
        </div>
        <div class="col text-right p-2">
            <span id="ImageMenuAction" style="cursor:pointer"><i class="fab fa-chrome fa-lg text-muted"></i></span>
        </div>
    </div>











<div class="row mb-3">
    <div class="col  bg-fb2 mr-2 p-2">
        <a href="@Url.Action(QuoteStatus.Quote.ToString())">
            <div class="mh-50">
                @QuoteStatus.Quote.ToString()
                <div class="text-right mt-3 mx-3"><span class="font-weight-bold">@quoteCount</span></div>
            </div>
        </a>
    </div>

    <div class="col  bg-fb2 mr-2 p-2">
        <a href="@Url.Action(QuoteStatus.Ordered.ToString())">
            <div class="mh-50">
                @QuoteStatus.Ordered.ToString()
                <div class="text-right mt-3 mx-3"><span class="font-weight-bold">@orderedCount</span></div>
            </div>
        </a>
    </div>

    <div class="col  bg-fb2 mr-2 p-2">
        <a href="@Url.Action(QuoteStatus.Close.ToString())">
            <div class="mh-50">
                @QuoteStatus.Close.ToString()
                <div class="text-right mt-3 mx-3"><span class="font-weight-bold">@closeCount</span></div>
            </div>
        </a>
    </div>

    <div class="col  bg-fb2 mr-2 p-2">
        <a href="@Url.Action(QuoteStatus.Void.ToString())">
            <div class="mh-50">
                @QuoteStatus.Void.ToString()
                <div class="text-right mt-3 mx-3"><span class="font-weight-bold">@voidCount</span></div>
            </div>
        </a>
    </div>
    <div class="col  bg-fb2 p-2">
        <a href="@Url.Action("Items", "Orders")">
            <div class="mh-50">
                <i class="fas fa-cubes fa-2x"></i> Items
                <div class="text-right mt-3 mx-3"><span class="font-weight-bold">@voidCount</span></div>
            </div>
        </a>
    </div>
</div>




@Html.DevExpress().PopupMenu(settings =>
   {
       settings.Name = "PopupMenuAction";
       settings.PopupElementID = "ImageMenuAction";
       settings.ShowPopOutImages = DefaultBoolean.True;
       settings.PopupAction = PopupAction.LeftMouseClick;

       settings.Styles.Item.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(5);
       settings.Items.Add(item =>
       {
           item.Text = "Other";
           item.Items.Add("Void Expired").NavigateUrl = DevExpressHelper.GetUrl(new { Action = "VoidExpired" });
           item.Items.Add("ReOrder Number").NavigateUrl = DevExpressHelper.GetUrl(new { Action = "ReOrder" });
       });

   }).GetHtml()
