@model ERPKeeper.Node.Models.Accounting.AccountItem
@using ERPKeeper.Node.Models.Accounting

@{
    decimal width = 180;
    var assetValue = Organization.ChartOfAccount.AssetAccounts.Sum(i => i.CurrentBalance);
    var liabilityValue = Organization.ChartOfAccount.LiabilityAccounts.Sum(i => i.CurrentBalance);
    var capitalValue = assetValue - liabilityValue;

    decimal maxValue = assetValue;

    if (liabilityValue >= assetValue)
    {
        maxValue = liabilityValue;
    }
    if (maxValue == 0)
    {
        maxValue = 10;
    }


    int assetWidth = (int)(width * assetValue / maxValue) + 10;
    int liabilityWidth = (int)(width * liabilityValue / maxValue) + 10;
    int equityWidth = (int)(width * capitalValue / maxValue) + 10;
}

<div class="row mb-1 bg-fb2 p-2">
    <div class="col-6">
        <strong>@Lang.BalanceSheet.ToUpper()</strong>
    </div>
    <div class="col-6 text-right">
        <a href="@DevExpressHelper.GetUrl(new { Area = "Accounting", Controller = "ChartOfAccount", Action = "UpdateBalance" })">
            <i class="fas fa-sync-alt fa-lg text-light"></i>
        </a>
    </div>
</div>
<div style="height:250px;overflow:hidden;">
    <div class="border border-secondary p-2 mb-1" style="height:150px;">
        <a href="@DevExpressHelper.GetUrl(new { Area = "Accounting", Controller = "ChartOfAccount", Action = "Home", id = AccountTypes.Asset })">
            <div class="mb-2">
                <div style="float:left;width:@(assetWidth)px;height:20px;padding:5px;color:white;">
                </div>
                <div style="float:left;margin-left:10px; font-size:90%;">
                    <b>@Lang.Assets</b>
                    <br />
                    @assetValue.ToString("N0")
                </div>
                <div style="clear:both;"></div>
            </div>
        </a>
        <a href="@DevExpressHelper.GetUrl(new { Area = "Accounting", Controller = "ChartOfAccount", Action = "Home", id = AccountTypes.Liability })">
            <div class="mb-2">
                <div class="bg-danger" style="float:left;width:@(liabilityWidth)px;height:20px;padding:5px;">
                </div>
                <div style="float:left;margin-left:10px; font-size:90%;">
                    <b>@Lang.Liability</b><br />

                    @liabilityValue.ToString("N0")
                </div>
                <div style="clear:both;"></div>
            </div>
        </a>
        <a href="@DevExpressHelper.GetUrl(new { Area = "Accounting", Controller = "ChartOfAccount", Action = "Home", id = AccountTypes.Capital })">
            <div class="mb-0">
                <div class="bg-success" style="float:left;width:@(equityWidth)px;height:20px;padding:5px;color:white;">
                </div>
                <div style="float:left;margin-left:10px; font-size:90%;">
                    <b>@Lang.Capital</b>
                    <br />
                    @capitalValue.ToString("N0")
                </div>
                <div style="clear:both;"></div>
            </div>
        </a>
    </div>


    <div class="row">
        <div class="col mr-1 bg-fb2 p-2">
            <b>A/E</b>
            <br />
            @{ string assetToEquityRatio = (capitalValue == 0) ? "NaN" : (assetValue / capitalValue).ToString("N3");}
            @assetToEquityRatio
        </div>
        <div class="col mr-1 bg-fb2 p-2">
            @*<b>D/A</b>
                <br />
                @{ string debtToAssetRatio = (liabilityValue / assetValue).ToString("N2");}
                @debtToAssetRatio*@
        </div>
        <div class="col mr-1 bg-fb2 p-2">
            @*<b>D/A</b>
                <br />
                @{ string debtToAssetRatio2 = (liabilityValue / assetValue).ToString("N2");}
                @debtToAssetRatio*@
        </div>
        <div class="col mr-1 bg-fb2 p-2">
            <b>D/A</b>
                <br />
                @{ string debtToAssetRatio = (assetValue == 0) ? "NaN" : (liabilityValue / assetValue).ToString("N3");}
                @debtToAssetRatio
        </div>
        <div class="col mr-0 bg-fb2 p-2">
            <b>D/C</b>
                <br />
                @{ string debtToEquityRatio = (capitalValue == 0) ? "NaN" : (liabilityValue / capitalValue).ToString("N3");}
                @debtToEquityRatio
        </div>
    </div>
</div>