@model ERPKeeper.Node.Models.Accounting.FiscalYear

@{
    decimal width = 220;
    var currentFiscalYear = Organization.FiscalYears.CurrentPeriod;
    decimal maxValue = currentFiscalYear.ExpenseBalance;

    if (currentFiscalYear.IncomeBalance >= currentFiscalYear.ExpenseBalance)
    {
        maxValue = currentFiscalYear.IncomeBalance;
    }

    if (maxValue == 0)
    {
        maxValue = 20;
    }

    int incomeWidth = (int)(width * currentFiscalYear.IncomeBalance / maxValue) + 10;
    int expenseWidth = (int)(width * currentFiscalYear.ExpenseBalance / maxValue) + 10;
    int profitWidth = (int)(width * currentFiscalYear.ProfitBalance / maxValue) + 10;
}


<div class="row p-2 mb-1 bg-fb2 rounded">
    <div class="col-8 p-0">
        <strong>@currentFiscalYear.Name @Lang.ProfitAndLost.ToUpper()</strong>
    </div>
    <div class="col  p-0 text-right">
        <a href="@DevExpressHelper.GetUrl(new { Area = "Accounting", Controller = "FiscalYear", Action = "UpdateBalance", id = currentFiscalYear.Uid })">
            <i class="fas fa-sync-alt fa-lg text-light"></i>
        </a>
    </div>




    <div class="col-12 p-0">
        <div class="bg-fb2 pt-2 mb-2">
            <div>
                <a href="@DevExpressHelper.GetUrl(new {Area = "Accounting", Controller = "FiscalYear", Action = "Incomes", id = currentFiscalYear.Uid })">
                    <div class="mb-2">
                        <div class="float-left p-1 bg-info text-white" style="width:@(incomeWidth)px;">
                            @Lang.Income
                        </div>
                        <div class="float-left ml-2 mt-1">
                            @currentFiscalYear.IncomeBalance.ToString("N0")
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@DevExpressHelper.GetUrl(new {Area = "Accounting", Controller = "FiscalYear", Action = "Expenses", id = currentFiscalYear.Uid })">
                    <div class="mb-2">
                        <div class="mb-2">
                            <div class="float-left p-1 bg-danger text-white" style="width:@(expenseWidth)px;">
                                @Lang.Expense
                            </div>
                            <div class="float-left ml-2 mt-1">
                                @currentFiscalYear.ExpenseBalance.ToString("N0")
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@DevExpressHelper.GetUrl(new {Area = "Accounting", Controller = "FiscalYear", Action = "ClosingEntries", id = currentFiscalYear.Uid })">
                    <div class="mb-0">
                        <div class="mb-0">
                            <div class="float-left p-1 bg-warning text-white" style="width:@(profitWidth)px;">
                                @Lang.Profit
                            </div>
                            <div class="float-left ml-2 mt-1">
                                @currentFiscalYear.ProfitBalance.ToString("N0")
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div style="clear:both;"></div>
        </div>


        <div class="row m-0">
            <div class="col mr-1 bg-light p-2">
                <b>I/E</b>
                <br />
                @{ string ieRatio = (currentFiscalYear.ExpenseBalance == 0) ? "NaN" : (currentFiscalYear.IncomeBalance / currentFiscalYear.ExpenseBalance).ToString("N3");}
                @ieRatio
            </div>
            <div class="col mr-1 bg-light p-2">
                <b>E/I</b>
                <br />
                @{ string eiRatio = (currentFiscalYear.IncomeBalance == 0) ? "NaN" : (currentFiscalYear.ExpenseBalance / currentFiscalYear.IncomeBalance).ToString("N3");}
                @eiRatio
            </div>
            <div class="col mr-1 bg-light p-2">
                @*<b>D/A</b>
                    <br />
                    @{ string debtToAssetRatio2 = (liabilityValue / assetValue).ToString("N2");}
                    @debtToAssetRatio*@
            </div>
            <div class="col mr-1 bg-light p-2">
                <b>P/I</b>
                <br />
                @{ string piRatio = (currentFiscalYear.IncomeBalance == 0) ? "NaN" : (currentFiscalYear.ProfitBalance / currentFiscalYear.IncomeBalance).ToString("N3");}
                @piRatio
            </div>
            <div class="col mr-0 bg-light p-2">
                <b>P/E</b>
                <br />
                @{ string peRatio = (currentFiscalYear.ExpenseBalance == 0) ? "NaN" : (currentFiscalYear.ProfitBalance / currentFiscalYear.ExpenseBalance).ToString("N3");}
                @peRatio
            </div>
        </div>
    </div>
</div>