

@model ERPKeeperCore.Enterprise.Models.Suppliers.Enums.PurchaseQuoteStatus?

@{
    var currentStatus = Model?.ToString() ?? "All";
}

<div id="FilterWidget" class="mb-3">
    <div class="btn-group" role="group">
        <a href="/Suppliers/PurchaseQuotes" class="btn btn-sm px-3 btn-outline-primary @(currentStatus == "All" ? "active" : "")">All</a>
        <a href="/Suppliers/PurchaseQuotes/Open" class="btn btn-sm px-3 btn-outline-primary @(currentStatus == "Open" ? "active" : "")">Open</a>
        <a href="/Suppliers/PurchaseQuotes/Order" class="btn btn-sm px-3 btn-outline-primary @(currentStatus == "Order" ? "active" : "")">Order</a>
        <a href="/Suppliers/PurchaseQuotes/Close" class="btn btn-sm px-3 btn-outline-primary @(currentStatus == "Close" ? "active" : "")">Close</a>
        <a href="/Suppliers/PurchaseQuotes/Void" class="btn btn-sm px-3 btn-outline-primary @(currentStatus == "Void" ? "active" : "")">Void</a>
    </div>
</div>

<div id="treeList" class="">
    @(Html.DevExtreme().DataGrid<ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote>()
            .ID("gridList")
            .DataSource(d => d.RemoteController().Key("Id")
                .LoadUrl(Model.HasValue ? $"/API/Suppliers/PurchaseQuotes/List/{Model.ToString()}" : "/API/Suppliers/PurchaseQuotes/List")
                .InsertUrl($"/API/Suppliers/PurchaseQuotes/Insert")
                .UpdateUrl($"/API/Suppliers/PurchaseQuotes/Update")
                .UpdateMethod("Post")
                .InsertMethod("Post"))

            .Editing(editing => editing.Mode(GridEditMode.Batch).AllowAdding(true).AllowUpdating(true).UseIcons(true))
            .RowAlternationEnabled(true).AllowColumnReordering(true)

            .KeyExpr("Id")
            .ShowRowLines(true)
            .ShowBorders(false)
            .Paging(paging => paging.PageSize(100))
            .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(s => s.Enabled(true)))
            .StateStoring(s => s.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("Purchase_Quotes_" ))

            .ColumnAutoWidth(false)
            .ColumnChooser(columnChooser => columnChooser.Enabled(true))
            .Columns(columns =>
            {
                columns.AddFor(m => m.AgeInDays).Width(60).AllowEditing(false).ShowInColumnChooser(true)
            .CellTemplate(new JS("function(cellElement, cellInfo) { $('<span>').addClass('text-' + cellInfo.data.AgeColor + '-400').text(cellInfo.data.AgeInDays).appendTo(cellElement); }"));

                columns.AddFor(m => m.Date)
            .SortOrder(SortOrder.Desc)
            .SortIndex(1)
            .Width(130);

                columns.AddFor(m => m.Status).AllowEditing(false)
            .Width(80)
            .Lookup(lookup => lookup
            .DataSource(Html.GetEnumSelectList<ERPKeeperCore.Enterprise.Models.Suppliers.Enums.PurchaseQuoteStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text }).ToList())
            .DisplayExpr("Text")
            .ValueExpr("Value")
            );

                columns.AddFor(m => m.Name)
                .AllowEditing(false)
                    .ShowInColumnChooser(true)
            .Width(150)
            .CellTemplate(new JS("function(cellElement, cellInfo) { $('<a>').attr('href', '/Suppliers/PurchaseQuotes/' + cellInfo.data.Id + '/').text(cellInfo.data.Name).appendTo(cellElement); }"));


                columns.AddFor(m => m.SupplierId)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Suppliers.Select(i => new { Value = i.Id, Text = i.Profile.Name }).ToList())
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .CellTemplate(new JS("function(cellElement, cellInfo) { $('<a>').attr('href', '/Suppliers/Suppliers/' + cellInfo.data.SupplierId + '/').text(cellInfo.displayValue).appendTo(cellElement); }"));


                    columns.AddFor(m => m.Reference)
                    .Width(180)
                    .CellTemplate(new JS("function(cellElement, cellInfo) { $('<a>').attr('href', '/Suppliers/PurchaseQuotes/' + cellInfo.data.Id + '/').text(cellInfo.data.Reference).appendTo(cellElement); }")); ;


                    columns.AddFor(m => m.Tax)
                .AllowEditing(false).Width(130).Format("#,##0.00");

                columns.AddFor(m => m.Total).AllowEditing(false).Width(130)
                .AllowEditing(false).Format("#,##0.00");

                columns.AddFor(m => m.TaxCodeId)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.TaxCodes.Select(i => new { Value = i.Id, Text = i.Name }).ToList())
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .Width(150)
            .HeaderCellTemplate(new JS("function() { return 'TaxCode'; }"))
            .CellTemplate(new JS("function(cellElement, cellInfo) { $('<a>').attr('href', '/Taxes/TaxCodes/' + cellInfo.data.TaxCodeId + '/').text(cellInfo.displayValue).appendTo(cellElement); }"));



                columns.AddFor(m => m.ProjectId)
            .Lookup(lookup => lookup
            .DataSource(Organization.ErpCOREDBContext.Projects.Select(i => new { Value = i.Id, Text = i.Name }).ToList())
            .DisplayExpr("Text")
            .ValueExpr("Value"))
            .Width(150)
            .Visible(false)
            .ShowInColumnChooser(true)
            .HeaderCellTemplate(new JS("function() { return 'Project'; }"))
        .CellTemplate(new JS("function(cellElement, cellInfo) { $('<a>').attr('href', '/Projects/' + cellInfo.data.ProjectId + '/').text(cellInfo.displayValue).appendTo(cellElement); }"));






            })
        .Summary(s =>
        s.TotalItems(items =>
        {
            items.AddFor(m => m.LinesTotal).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
            items.AddFor(m => m.Total).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0.00");
        }))
        .OnInitNewRow("onInitNewRow")
        )
</div>

<script>
    function onInitNewRow(e) {
        const today = new Date();
        e.data.Date = today;
        e.data.Status = 0;
    }
</script>