@model ERPKeeperCore.Enterprise.Models.Assets.Asset

<form id="EditForm" action="/@CompanyId/Assets/Assets/@Model.Id/Update" method="post">
    <div class="flex p-1 border">
        <div class="col-6 p-1">
            <div class="mb-3 font-semibold text-lg">General</div>
            <div class="mb-2">@Html.DevExtreme().TextBoxFor(m=>m.Name).Label("Name")</div>
            <div class="mb-2">@Html.DevExtreme().TextAreaFor(m => m.Memo).Height(150).Label("Memo")</div>
        </div>

        <div class="col-6 p-1 mb-2 rounded">
            <div class="mb-2">
                <div class="mb-3 font-semibold text-lg">Type</div>
                @(Html.DevExtreme().SelectBoxFor(m => m.AssetTypeId)
                    .DataSource(Organization.AssetTypes.GetAll().Select(t => new { t.Id, t.Name }).ToList())
                    .Placeholder("Choose Projects")
                    .DisplayExpr("Name")
                    .ValueExpr("Id")
                    .ShowClearButton(true)
                    )
            </div>
            <div class=" mb-2">
                <div class="p-0 mb-3 font-semibold text-lg">Dates</div>
                <div class="pl-0 mb-2">@Html.DevExtreme().DateBoxFor(m => m.PurchaseDate).Label("PurchaseDate")</div>
                <div class="pl-0 mb-2">@Html.DevExtreme().DateBoxFor(m=>m.StartDeprecationDate).Label("StartDate")</div>
                <div class=" pr-0 mb-2">@Html.DevExtreme().DateBoxFor(m => m.EndDeprecationDate).Disabled(true).Label("EndDate")</div>
            </div>


            <div class="w-full p-2 text-right">
                <button class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="document.getElementById('EditForm').submit();">
                    Save
                </button>
            </div>
        </div>



    </div>
</form>
