@{

    Layout = null;
}

@model ERPKeeper.Node.Models.Projects.Case

<div class="bg-fb2 p-2 mb-2 mh-50">
    <b>CASE</b><br />
    @Model.Status
</div>



@Html.DevExpress().Menu(settings =>
{
    settings.Name = "mFeatures";
    settings.AllowSelectItem = true;
    settings.EnableHotTrack = true;
    settings.EnableAnimation = true;
    settings.ShowPopOutImages = DefaultBoolean.True;


    settings.Styles.Item.CssClass = "px-1";
    settings.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
    settings.Width = 200;

    settings.Items.Add(Lang.Home).NavigateUrl = DevExpressHelper.GetUrl(new { Action = "Home", id = Model.Uid });

}).GetHtml()



<div class="mt-3">
    <a href="@Url.Action("Home", "Cases", new { })">
        <i class="fas fa-arrow-alt-circle-left fa-lg text-muted"></i>
    </a>
    <span id="ImageMenuAction" style="cursor:pointer"><i class="fab fa-chrome fa-lg text-muted"></i></span>
    <span id="ImageMenuChart" style="cursor:pointer"><i class="fas fa-chart-pie fa-lg text-muted"></i></span>
</div>

@Html.DevExpress().PopupMenu(settings =>
{
    settings.Name = "PopupMenuAction";
    settings.PopupElementID = "ImageMenuAction";
    settings.ShowPopOutImages = DefaultBoolean.True;
    settings.PopupAction = PopupAction.LeftMouseClick;
    settings.Styles.Item.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(5);


    settings.Items.Add(item =>
    {
        item.Text = "Set Status";
        item.Items.Add("Open").NavigateUrl = DevExpressHelper.GetUrl(new { Action = "UpdateStatus", id = Model.Uid, newStatus = ERPKeeper.Node.Models.Projects.Enums.CaseStatus.Plan });
        item.Items.Add("Pending").NavigateUrl = DevExpressHelper.GetUrl(new { Action = "UpdateStatus", id = Model.Uid, newStatus = ERPKeeper.Node.Models.Projects.Enums.CaseStatus.Pending });
        item.Items.Add("Close").NavigateUrl = DevExpressHelper.GetUrl(new { Action = "UpdateStatus", id = Model.Uid, newStatus = ERPKeeper.Node.Models.Projects.Enums.CaseStatus.Close });
    });
}).GetHtml()

@Html.DevExpress().PopupMenu(settings =>
{
    settings.Name = "PopupMenuChart";
    settings.PopupElementID = "ImageMenuChart";
    settings.ShowPopOutImages = DefaultBoolean.True;
    settings.PopupAction = PopupAction.LeftMouseClick;

    settings.Styles.Item.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(5);
    settings.Items.Add("Chart").NavigateUrl = DevExpressHelper.GetUrl(new { Action = "Chart", Type = ERPKeeper.Helpers.Enums.EnumCommercialViewType.All });
}).GetHtml()