@{
    bool checkCurrentController(string controllerName)
    {
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        return currentControllerName == controllerName;
    }

    void Template(string display, string controller, int? count = null)
    {
        <div class="row e pl-0 @(checkCurrentController(controller) ? "font-weight-600" : "")">
            <div class="col p-0">
                <a href="/@CompanyId/Assets/@controller">
                    @SharedLocalizer.GetLocalizedHtmlString(display)
                </a>
            </div>
            <div class="col-2 p-0 text-right">
                <span class="badge badge-light text-dark">@count</span>
            </div>
        </div>
    }
}



<div class="p-0">
    <div class="font-weight-600 ">
        <a href="/@CompanyId/Assets">Assets</a>
    </div>

    @{
        Template("Assets", "Assets");
        Template("Asset Types", "AssetTypes");
    }
</div>


@{
    void MenuTemplate(int level, string displayName, string url, int? count = null)
    {
        <div class="">
            <div class="row e-r">
                <div class="col-10 p-l@(level)">
                    <a href="@url">
                        @if (level > 0)
                        {
                            <i class="fa-solid fa-l"></i>
                        }
                        @SharedLocalizer.GetLocalizedHtmlString(displayName)
                    </a>
                </div>
                <div class="col-2 text-right p-0">
                    <span class="menuCount">@count</span>
                </div>
            </div>
        </div>
    }
}

<div class="lh-12 ">
    @{
        MenuTemplate(0, CompanyId.ToUpper(), $"/{CompanyId}/DashBoard");
        MenuTemplate(1, "Profiles", $"/{CompanyId}/Profiles");
        MenuTemplate(2, "Customers", $"/{CompanyId}/Customers");
        MenuTemplate(2, "Suppliers", $"/{CompanyId}/Suppliers");
        MenuTemplate(2, "Employees", $"/{CompanyId}/Employees");
        MenuTemplate(2, "Investors", $"/{CompanyId}/Investors");

    }
</div>
