@model ERPKeeper.Node.Models.Financial.Payments.ReceivePayment


<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">
            @Html.Action("_Main", "Default", new { Area = "Menu" })
        </div>
        <div class="col col-Middle p-0">
            @Html.Partial("_MenuTop")
            <div class="row">
                <div class="col-6 pl-0 pr-2">
                    @Html.Partial("_ProfileDetail")
                    @Html.Partial("_Commercials")
                </div>
                <div class="col-6 p-0">
                    @Html.Partial("_Form")
                </div>
            </div>
        </div>
        <div class="col-3 col-Right pr-0">
            @Html.Partial("_Summary")
            @if (Model.PostStatus == ERPKeeper.Node.Models.Accounting.Enums.LedgerPostStatus.Locked)
            {
                @Html.Action("_summaryLedger", "ledgers", new { area = "Accounting", id = Model.Uid })
            }

        </div>
    </div>
</div>
