@model ERPKeeperCore.Enterprise.Models.Accounting.Account

@{
    bool checkCurrentController(string controllerName)
    {
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        return currentControllerName == controllerName;
    }

    void Template(string display, string url, int? count = null)
    {
        <div class="flex  justify-between e pl-0 @(checkCurrentController(url) ? "font-weight-600" : "")">
            <div class="">
                <a href="@url">
                    @SharedLocalizer.GetLocalizedHtmlString(display)
                </a>
            </div>
            <div class="">
                <span class="badge badge-light text-dark">@count</span>
            </div>
        </div>
    }
}

<div class="lh-120 bg-gray-100 p-2 rounded border font-semibold">
    <a href="/Financial">Financial</a>
</div>

<div class="lh-120 bg-gray-100 p-2 rounded border font-semibold">
    <a href="/Financial/Liabilities">Liabilities</a>: @Model.Name
</div>
<div class="lh-120 bg-gray-100 p-2 rounded border">
    @{
        Template("Home", $"/Financial/Liabilities/{Model.Id}", Organization.FundTransfers.Count());
        Template("Balances", $"/Financial/Liabilities/{Model.Id}/Balances");
        Template("Payments", $"/Financial/Liabilities/{Model.Id}/Payments");

    }
</div>
