@model ERPKeeperCore.Enterprise.Models.Accounting.Account

@{
    bool checkCurrentController(string controllerName)
    {
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        return currentControllerName == controllerName;
    }

    void Template(string display, string url, int? count = null)
    {
        <div class="flex e pl-0 @(checkCurrentController(url) ? "font-weight-600" : "")">
            <div class="col p-0">
                <a href="@url">
                    @SharedLocalizer.GetLocalizedHtmlString(display)
                </a>
            </div>
            <div class="w-2/12 p-0 text-right">
                <span class="badge badge-light text-dark">@count</span>
            </div>
        </div>
    }
}

<div class="lh-120 bg-gray-100 p-2 rounded border font-semibold">
    <a href="/@CompanyId/Financial">Financial</a>
</div>

<div class="lh-120 bg-gray-100 p-2 rounded border font-semibold">
    <a href="/@CompanyId/Financial/Liabilities">Liabilities</a>: @Model.Name
</div>
<div class="lh-120 bg-gray-100 p-2 rounded border">
    @{
        Template("Home", $"/{CompanyId}/Financial/Liabilities/{Model.Id}", Organization.FundTransfers.Count());
        Template("Balances", $"/{CompanyId}/Financial/Liabilities/{Model.Id}/Balances");
        Template("Payments", $"/{CompanyId}/Financial/Liabilities/{Model.Id}/Payments");

    }
</div>
