@using ERPKeeper.Node.Models.Accounting
@using ERPKeeper.Node.Models.Assets.Enums

@{
    var openFixAssetsCount = Organization.FixedAssets.Query().Where(i => i.Status == ERPKeeper.Node.Models.Assets.Enums.FixedAssetStatus.Open).Count().ToString();
    var closeFixAssetsCount = Organization.FixedAssets.Query().Where(i => i.Status == ERPKeeper.Node.Models.Assets.Enums.FixedAssetStatus.Closed).Count().ToString();
}

<div class="row bg-fb2  p-1 mb-1 rounded">
    <div class="col-9 p-1">
        <span class="bg-dark px-2 mt-2 mr-3 text-white">
            @Lang.FixedAssets
        </span>
    </div>
    <div class="col">
        <div class="p-1 text-right">
            <span id="ImageMenuPlus" style="cursor:pointer"><i class="fas fa-plus-circle fa-lg text-muted"></i></span>
            <span id="ImageMenuAction" style="cursor:pointer"><i class="fab fa-chrome fa-lg text-muted"></i></span>
            @Html.DevExpress().PopupMenu(settings =>
       {
           settings.Name = "PopupMenuCore";
           settings.PopupElementID = "ImageMenuAction";
           settings.ShowPopOutImages = DefaultBoolean.True;
           settings.PopupAction = PopupAction.LeftMouseClick;
           settings.Styles.Item.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(5);

           settings.Items.Add("ReOrder").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "FixedAssets", Action = "ReOrder" });
           settings.Items.Add("Export").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "FixedAssets", Action = "Export" });
           settings.Items.Add("UpdateStatus").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "FixedAssets", Action = "UpdateStatus" });
           settings.Items.Add("CreateSchedule").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "FixedAssets", Action = "CreateSchedule" });
       }).GetHtml()
            @Html.DevExpress().PopupMenu(settings =>
    {
        settings.Name = "PopupMenuPlus";
        settings.PopupElementID = "ImageMenuPlus";
        settings.ShowPopOutImages = DefaultBoolean.True;
        settings.PopupAction = PopupAction.LeftMouseClick;
        settings.Styles.Item.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(5);

        settings.Items.Add(subSetting =>
        {
            subSetting.Text = "Add New";

            erpNodeDBContext.AssetTypes.ToList().ForEach(basis =>
            {
                subSetting.Items.Add(basis.Name).NavigateUrl = DevExpressHelper.GetUrl(
                    new
                    {
                        Action = "New",
                        Controller = "FixedAsset",
                        depreciationBasisGuid = basis.Uid
                    });
            });

        });
    }).GetHtml()
        </div>
    </div>


    <div class="col-12 p-1">

        <div class="row">
            <div class="col  bg-light mr-2 p-2">
                <a href="@DevExpressHelper.GetUrl(new { Controller = "FixedAssets",  Action = "Home", Status = FixedAssetStatus.Open })">
                    @Lang.Open
                    <div class="text-right mt-3 mx-3"><span class="font-weight-bold">@openFixAssetsCount</span></div>
                </a>
            </div>

            <div class="col  bg-light mr-2 p-2">
                <a href="@DevExpressHelper.GetUrl(new { Controller = "FixedAssets",  Action = "Home", Status = FixedAssetStatus.Closed })">
                    @Lang.Close
                    <div class="text-right mt-3 mx-3"><span class="font-weight-bold">@closeFixAssetsCount</span></div>
                </a>
            </div>

            <div class="col  bg-light mr-2 p-2">
                <a href="@DevExpressHelper.GetUrl(new { Controller = "FixedAssets",  Action = "Home", Status = FixedAssetStatus.Retried })">
                    Retried
                    <div class="text-right mt-3 mx-3"><span class="font-weight-bold"></span></div>
                </a>
            </div>

            <div class="col  bg-light p-2">

            </div>
        </div>

    </div>




</div>
