

<div class="grid grid-cols-4 rounded-lg overflow-hidden">

    <div class="grid grid-cols-4 col-span-4 bg-gray-100 min-h-16 border">
        <div class="col-span-3  mb-2   p-2">
            <a href="/Customers/Customers">
                @Organization.ErpCOREDBContext.Customers.Count() <br />
                Customers
            </a>
        </div>
        <div class="mb-2 p-2">
            <a href="/Projects">
                @Organization.ErpCOREDBContext.Projects.Where(p => p.Status == ERPKeeperCore.Enterprise.Models.Projects.Enums.ProjectStatus.Open).Count() <br />
                Projects
            </a>
        </div>



        <a href="/Customers/SaleQuotes">
            <div class="bg-gray-200 min-h-16  p-2 border">
                @Organization.ErpCOREDBContext.SaleQuotes.Count() <br /> SaleQuotes
            </div>
        </a>
        <a href="/Customers/Sales">
            <div class="bg-gray-200 min-h-16  p-2 border">
                @Organization.ErpCOREDBContext.Sales.Count() <br /> Sales
            </div>
        </a>
        <a href="/Customers/ReceivePayments">
            <div class="bg-gray-200 min-h-16  p-2 border">
                @Organization.ErpCOREDBContext.ReceivePayments.Count() <br /> Payments
            </div>
        </a>
    </div>

    <div class="bg-gray-100 min-h-16  p-2 border">
    </div>

    <div class="grid grid-cols-4 col-span-4 bg-gray-100 min-h-16">
        <div class="col-span-4">
            <a href="/Suppliers/Suppliers">
                <div class="bg-gray-100 min-h-16 p-2 border">
                    @Organization.ErpCOREDBContext.Suppliers.Count() <br />
                    Suppliers
                </div>
            </a>
        </div>



        <a href="/Suppliers/PurchaseQuotes">
            <div class="bg-gray-200 min-h-16  p-2 border">
                @Organization.ErpCOREDBContext.PurchaseQuotes.Count() <br />PurchaseQuotes
            </div>
        </a>
        <a href="/Suppliers/Purchases">
            <div class="bg-gray-200 min-h-16  p-2 border">
                @Organization.ErpCOREDBContext.Purchases.Count() <br />Purchases
            </div>
        </a>

        <a href="/Suppliers/SupplierPayments">
            <div class="bg-gray-200 min-h-16  p-2 border">
                @Organization.ErpCOREDBContext.SupplierPayments.Count() <br /> Payments
            </div>
        </a>
    </div>
    <div class="bg-gray-100 min-h-16  p-2 border">
    </div>



    <a href="/HR/Employees">
        <div class="bg-gray-200 min-h-16  p-2 border">
            @Organization.ErpCOREDBContext.Employees.Count() <br />
            Employees
        </div>
    </a>


    <a href="/Products/Items">
        <div class="bg-gray-200 min-h-16  p-2 border">
            @Organization.ErpCOREDBContext.Items.Count() <br />Items
        </div>
    </a>
</div>

