@using ERPKeeperCore.Enterprise.Models.Accounting.Enums
@model ERPKeeperCore.Enterprise.Models.Accounting.Transaction

<div class="bg-gray-200 p-2 border text-xl">
    <div class="font-weight-600">
        <a href="/Accounting">Accounting</a>
    </div>
</div>
<div class="bg-gray-200 p-2 text-xl">
    <a href="/Accounting/Transactions">Transactions</a>
    <a href="/Accounting/Transactions/@Model.Id">@Model.Reference</a>


    @switch (Model.Type)
    {
        case TransactionType.Sale:
        case TransactionType.ReceivePayment:
            <a href="/Customers/@(Model.Type)s/@Model.Id">@Model.Type</a>
            break;
        case TransactionType.Purchase:
        case TransactionType.SupplierPayment:
            <a href="/Suppliers/@(Model.Type)s/@Model.Id">@Model.Type</a>
            break;
        case TransactionType.FundTransfer:
        case TransactionType.Lend:
        case TransactionType.Loan:
        case TransactionType.LiabilityPayment:
            <a href="/Financial/@(Model.Type)s/@Model.Id">@Model.Type</a>
            break;
        case TransactionType.JournalEntry:
            <a href="/Accounting/JournalEntries/@Model.Id">@Model.Type</a>
            break;
        case TransactionType.FiscalYearClosing:
            <a href="/Accounting/@(Model.Type)s/@Model.Id">@Model.Type</a>
            break;
        case TransactionType.IncomeTax:
        case TransactionType.TaxPeriod:
            <a href="/Taxes/@(Model.Type)s/@Model.Id">@Model.Type</a>
            break;
    }

</div>

