@model ERPKeeperCore.Enterprise.Models.Accounting.Transaction


@if (Model != null)
{
    var transactionLedgers = Model.Ledgers.ToList();

    <div class="flex border p-2 bg-gray-100">
        <div class="w-8/12 font-semibold">
            <a href="/@CompanyId/Accounting/Transactions/@Model.Id/">
                TR: @(Model.Name ?? Model.Reference)  #(@Model.Ledgers.Count())
            </a>
        </div>
        <div class="w-4/12  font-semibold">
            @Model.Date.ToShortDateString()
        </div>
    </div>

    @if (!Model.IsPosted)
    {
        <div class="bg-gray-100 p-3">
            Not Posted
        </div>
    }
    else
    {
        <div class="bg-gray-100 p-3">
            Posted
        </div>
    }

    <div class="p-1 border">
        @foreach (var transactionLedger in transactionLedgers)
        {
            <div class="flex px-2">
                @if (transactionLedger.Debit > 0)
                {
                    <div class="w-7/12">
                        <a href="/@CompanyId/Accounting/Accounts/@transactionLedger.AccountId">
                            @transactionLedger.Account.Name
                        </a><br />
                        @transactionLedger.Account.Type.ToString()
                    </div>
                    <div class="grow ">
                        Dr.  @transactionLedger.Debit
                    </div>
                }
                else
                {
                    <div class="w-8/12 ">
                        <a href="/@CompanyId/Accounting/Accounts/@transactionLedger.AccountId">
                            @transactionLedger.Account.Name
                        </a><br />
                        @transactionLedger.Account.Type.ToString()
                    </div>
                    <div class="">
                        Cr.  @transactionLedger.Credit
                    </div>
                }
            </div>
        }
    </div>
}
else
{
    <div class="flex border p-2 bg-gray-100">
        No Tansaction
    </div>
}