@model ERPKeeperCore.Enterprise.Models.Accounting.Transaction


@if (Model != null)
{
    <div class="row border">

        <div class="col-12  border font-weight-600">
            <a href="/@CompanyId/Accounting/Transactions/@Model.Id/">
                TR# @Model.Ledgers.Count()
            </a>
        </div>


        @{
            var transactionLedgers = Model.Ledgers.ToList();

            foreach (var transactionLedger in transactionLedgers)
            {
               

                @if (transactionLedger.Debit > 0)
                {
                    <div class="col-7 border">
                        <a href="/@CompanyId/Accounting/Accounts/@transactionLedger.AccountId">
                            @transactionLedger.Account.Name
                        </a><br />
                        @transactionLedger.Account.Type.ToString()
                    </div>
                    <div class="col-5 border px-1">
                        Dr.  @transactionLedger.Debit
                    </div>
                }
                else
                {
                    <div class="col-8 border">
                        <a href="/@CompanyId/Accounting/Accounts/@transactionLedger.AccountId">
                            @transactionLedger.Account.Name
                        </a><br />
                        @transactionLedger.Account.Type.ToString()
                    </div>
                    <div class="col-4 border px-1">
                        Cr.  @transactionLedger.Credit
                    </div>
                }
            }
        }
    </div>
}
else
{
    <div class="row border">
        No Tansaction
    </div>

}

