@model ERPKeeperCore.Enterprise.Models.Financial.LiabilityPayment


<form id="EditForm" action="/Suppliers/Sales/@Model.Id/Update" method="post">
    <div>
        <div class="row">
            <div class="col-6 p-0 bg-fb1 border">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="mb-3 font-weight-600">Liability Payment</div>
                        <div class="mb-2">@Html.DevExtreme().TextAreaFor(m => m.Memo).Height(150).Label("Detail").LabelMode(EditorLabelMode.Static)</div>

                    </div>
                </div>
            </div>
            <div class="col-6 p-0 bg-fb1 border">
                <div class="mb-3 font-weight-600">General</div>
                <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Name).Label("No").LabelMode(EditorLabelMode.Static).Disabled(true)</div>
                <div class="mb-2">@Html.DevExtreme().DateBoxFor(m => m.Date).Label("Date").LabelMode(EditorLabelMode.Static)</div>
                <div class="mb-2">
                    @(Html.DevExtreme().SelectBoxFor(m => m.LiabilityAccountId)
                        .DataSource(Organization.ErpCOREDBContext.Accounts.ToList().Select(t => new { t.Id, t.Name }).ToList())
                        .Placeholder("LiabilityAccount")
                        .DisplayExpr("Name")
                        .ValueExpr("Id")
                        .Label("Tax")
                        .ShowClearButton(true)
                        .LabelMode(EditorLabelMode.Static)
                        )
                </div>
                <div class="mb-2">@Html.DevExtreme().NumberBoxFor(m => m.Amount).Label("Amount").LabelMode(EditorLabelMode.Static)</div>
            </div>
        </div>
    </div>
    <button class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="document.getElementById('EditForm').submit();">
        Save
    </button>
</form>
