@model ERPKeeper.Node.Models.Estimations.SaleQuote

<div class="row">
    <div class="col-2 col-Left pl-0">
        @Html.Action("_Main", "Default", new { Area = "Menu" })
    </div>
    <div class="col col-Middle p-0">
        @Html.Partial("_MenuTop")
        @Html.Partial("_Items", Model)
    </div>
    <div class="col-3 col-Right pr-0">
        @Html.Partial("_SummaryCallbackPanel")
        @Html.Partial("_AssistItems")
    </div>
</div>
