@model ERPKeeperCore.Enterprise.Models.Customers.ReceivePayment



<form id="EditForm" action="/Customers/Sales/@Model.Id/Update" method="post">
    <div >
        <div class="row">

            <div class="col-6 p-0 border">
                <div class=" bg-fb1 p-2 mb-2 rounded">

                    <div class="row">
                        <div class="col-10 p-0">
                            <div class="mb-3 font-weight-600">Customer</div>
                        </div>
                        <div class="col-2 p-0 text-right">
                        </div>
                    </div>

                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Sale.Name).Label("Sale").LabelMode(EditorLabelMode.Static).Disabled(true)</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Sale.Customer.Profile.Name).Label("Tax").LabelMode(EditorLabelMode.Static).Disabled(true)</div>

                </div>
            </div>

            <div class="col-6 p-0 border">
                <div class=" bg-fb1 p-2 mb-2 rounded">
                    <div class="mb-3 font-weight-600">General</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Name).Label("No").LabelMode(EditorLabelMode.Static).Disabled(true)</div>
                    <div class="mb-2">@Html.DevExtreme().DateBoxFor(m => m.Date).Label("Date").LabelMode(EditorLabelMode.Static)</div>
                    <div class="mb-2">@Html.DevExtreme().NumberBoxFor(m => m.Amount).Label("Amount").LabelMode(EditorLabelMode.Static)</div>
                    <div class="mb-2">@Html.DevExtreme().NumberBoxFor(m => m.AmountBankFee).Label("BankFee").LabelMode(EditorLabelMode.Static)</div>
                    <div class="mb-2">@Html.DevExtreme().NumberBoxFor(m => m.AmountDiscount).Label("Discount").LabelMode(EditorLabelMode.Static)</div>

                    <div class="mb-2">
                        @(Html.DevExtreme().SelectBoxFor(m => m.RetentionTypeId)
                            .DataSource(Organization.ErpCOREDBContext.RetentionTypes.ToList().Select(t => new { t.Id, t.Name }).ToList())
                            .Placeholder("Retention")
                            .DisplayExpr("Name")
                            .ValueExpr("Id")
                            .Label("Tax")
                            .ShowClearButton(true)
                            .LabelMode(EditorLabelMode.Static)
                            )
                    </div>
                    <div class="mb-2">@Html.DevExtreme().NumberBoxFor(m => m.AmountRetention).Label("Retention").LabelMode(EditorLabelMode.Static)</div>
                    <div class="mb-2">@Html.DevExtreme().NumberBoxFor(m => m.AmountTotalReceive).Label("Total").LabelMode(EditorLabelMode.Static)</div>

                </div>
            </div>

            <div class="col-6 p-0">
                <div class=" bg-fb1 p-2 mb-2 rounded">
                    <div class="mb-3 font-weight-600">
                    </div>

                </div>
            </div>
            <div class="col-6 p-0">
                <div class=" bg-fb1 p-2 mb-2 rounded">
                    <div class="mb-3 font-weight-600">Memo</div>
                    <div class="mb-2">@Html.DevExtreme().TextAreaFor(m => m.Memo).Height(150).Label("Detail").LabelMode(EditorLabelMode.Static)</div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="document.getElementById('EditForm').submit();">
        Save
    </button>
</form>
