@model ERPKeeperCore.Enterprise.Models.Customers.ReceivePayment


@{
    Layout = "_Layout_Export";

    var documentNameContent = SharedLocalizer.GetLocalizedHtmlString("ReceivePayment").ToString();
    var customerAddress = Model.Sale.ProfileAddesss.Profile.Addresses.FirstOrDefault();
}

@await Html.PartialAsync("/areas/enterprise_export/view/shared/_header.cshtml", documentNameContent)

<div class="grid grid-cols-3" id="BuyerDetail">
    <div class="col-span-2 border border-dark p-2">
        <div>
            <b>@SharedLocalizer.GetLocalizedHtmlString("Customer")</b>
            <a href="/Customers/Customers/@Model.Sale.CustomerId">
                @Model.Sale.Customer.Profile.Name
            </a>
        </div>

        <div>
            เลขที่ผู้เสียภาษี @Model.Sale.Customer.Profile.TaxNumber สาขา @customerAddress?.Number
        </div>


        @if (customerAddress != null)
        {
            <div>
                @customerAddress.AddressLine?.Trim()<br />
                @customerAddress.PhoneNumber
            </div>
        }

    </div>
    <div class=" border border-dark p-2">
        <div class="grid grid-cols-2 gap-x-2">
            <div class="font-semibold">@SharedLocalizer.GetLocalizedHtmlString("Number")</div>
            <div class="text-right">@Model.Sale.Name.Replace("SL", "RP")</div>

            <div class="font-semibold">@SharedLocalizer.GetLocalizedHtmlString("Date")</div>
            <div class="text-right">@Model.Date.ToString("dd-MMM-yyyy")</div>

            <div class="font-semibold">@SharedLocalizer.GetLocalizedHtmlString("Reference")</div>
            <div class="text-right">@Model.Reference</div>
        </div>
    </div>
</div>


<div id="Items" class=" border border-dark  min-h-96">
    <div class="flex font-semibold justify-between  p-2 border-bottom border-dark">
        <div class="w-3/12">
            @SharedLocalizer.GetLocalizedHtmlString("Invoice")
        </div>
        <div class="w-3/12 ">
            @SharedLocalizer.GetLocalizedHtmlString("Date")
        </div>
        <div class="flex-1">
            @SharedLocalizer.GetLocalizedHtmlString("Reference")
        </div>
        <div class="w-3/12 text-right">
            @SharedLocalizer.GetLocalizedHtmlString("Amount")
        </div>
    </div>


    <div class="flex justify-between p-2">
        <div class="w-3/12">
            @Model.Sale.Name
        </div>
        <div class="w-3/12 ">
            @Model.Sale.Date.ToString("dd-MMM-yyyy")
        </div>
        <div class="flex-1">
            @Model.Sale.Reference
        </div>
        <div class="w-3/12 text-right">
            @Model.Amount.ToString("N2")
        </div>
    </div>
</div>








<div class="grid grid-cols-3 gap-2 mb-1 border border-dark p-2" id="Summary">
    <div class="col-span-2">
        <span class="font-semibold">@SharedLocalizer.GetLocalizedHtmlString("PaymentReceiver"):</span>
        @User.Identity.Name
    </div>
    <div>
        <div class="flex flex-wrap">
            <div class="w-6/12 text-right">
                @SharedLocalizer.GetLocalizedHtmlString("Total")
            </div>
            <div class="w-6/12 p-0 text-right">
                @Model.Amount.ToString("N2")
            </div>
        </div>

        @if (Model.AmountDiscount != 0)
        {


            <div class="flex flex-wrap">
                <div class="w-6/12 text-right">
                    ??????
                </div>
                <div class="w-6/12 p-0 text-right ">
                    @Model.AmountDiscount.ToString("N2")
                </div>
            </div>
            <div class="flex ">
                <div class="w-6/12 text-right">
                    ????????????????
                </div>
                <div class="w-6/12 p-0 text-right">
                    @Model.AmountTotal.ToString("N2")
                </div>
            </div>


        }

    </div>




    <div class="p-0 col-span-3 text-right">
        ( @ERPKeeperCore.Enterprise.Helpers.ThaiMoneyConverter.ReturnThaiMoney(Model.AmountTotal) )
    </div>



</div>

