@model ERPKeeper.Node.Models.Assets.FixedAsset

<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">
            @Html.Action("_Main", "Default", new { Area = "Menu" })
        </div>
        <div class="col col-Middle p-0">
            @Html.Partial("_MenuTop", Model)

            @Html.Partial("_Detail", Model)

            @if (Model.DepreciationSchedules != null)
            {
                @Html.Partial("PartialGridViewDeprecateSchedules", Model)
                 }
        </div>
        <div class="col-3 col-Right pr-0">
            @Html.Partial("_Summary", Model)
            @if (Model.PostStatus == ERPKeeper.Node.Models.Accounting.Enums.LedgerPostStatus.Locked)
            {
                <div class="mb-2 bg-fb2 rounded">
                    @Html.Action("_summaryLedger", "ledgers", new { area = "Accounting", id = Model.Uid })
                </div>
            }
        </div>
    </div>
</div>