@model ERPKeeperCore.Enterprise.Models.Employees.EmployeePayment



<div class="grid grid-cols-6">


    <a href="/@CompanyId/Employees/Employees/@Model.EmployeeId">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.Employee.Profile.Name
            </div>
            <div class="text-lg text-center">
                Employee
            </div>
        </div>
    </a>

    <a href="/@CompanyId/Employees/EmployeePayments/@Model.Id">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                xxx
            </div>
            <div class="text-lg text-center">
                Status
            </div>
        </div>
    </a>


    <a href="/@CompanyId/Employees/EmployeePayments/@Model.Id/EmployeePayments">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.EmployeePaymentPeriod.Date.ToShortDateString()
            </div>
            <div class="text-lg text-center">
                Date
            </div>
        </div>
    </a>


    <a href="/@CompanyId/Employees/EmployeePayments/@Model.Id/EmployeePayments">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.PaymentItems.Count()
            </div>
            <div class="text-lg text-center">
                Items
            </div>
        </div>
    </a>


    <a href="/@CompanyId/Employees/EmployeePayments/@Model.Id/Items">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.TotalEarning
            </div>
            <div class="text-lg text-center">
                Earning
            </div>
        </div>
    </a>

    <a href="/@CompanyId/Employees/EmployeePayments/@Model.Id/Items">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.TotalDeduction
            </div>
            <div class="text-lg text-center">
                Deduction
            </div>
        </div>
    </a>


</div>


