@model ERPKeeperCore.Enterprise.Models.Projects.Project

<form id="EditForm" action="/Projects/@Model.Id/Update" method="post">
    <div class="border">
        <div class="grid grid-cols-3">
            <div class="border">
                <div class=" bg-gray-200 p-2 mb-2 border">
                    <div class="mb-3 font-semibold text-lg">General</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Name).Label("Name").LabelMode(EditorLabelMode.Floating)</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Code).Label("Code").LabelMode(EditorLabelMode.Floating)</div>

                </div>
            </div>
            <div class="border">
                <div class=" bg-gray-200 p-2 mb-2 border">
                    <div class="mb-2">
                        <div class="mb-3 font-semibold text-lg">Dates</div>
                        <div class="mb-2">@Html.DevExtreme().DateBoxFor(m => m.StartDate).Label("Start").LabelMode(EditorLabelMode.Floating)</div>
                        <div class="mb-2">@Html.DevExtreme().DateBoxFor(m => m.EndDate).Label("End").LabelMode(EditorLabelMode.Floating)</div>

                    </div>
                </div>
            </div>
            <div class="border">
                <div class=" bg-gray-200 p-2 mb-2 border">
                    <div class="mb-3 font-semibold text-lg">Memo</div>
                    <div class="mb-2">@Html.DevExtreme().TextAreaFor(m => m.Detail).Height(150).Label("Detail").LabelMode(EditorLabelMode.Floating)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2">
        <button class="btn py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="document.getElementById('EditForm').submit();">
            Save
        </button>
        @{
            if (Model.Status == ERPKeeperCore.Enterprise.Models.Projects.Enums.ProjectStatus.Open)
            {
                <a href="/Customers/Projects/@Model.Id/close" class="btn py-1 btn-sm" style="background-color: #5D6EAE;">
                    Close
                </a>
            }
            else
            {
                <a href="/Customers/Projects/@Model.Id/open" class="btn py-1 btn-sm" style="background-color: #5D6EAE;">
                    Re-Open
                </a>
            }
        }
    </div>
</form>
