@model ERPKeeperCore.Enterprise.Models.Items.Item






<div class="row bg-gray-100 py-2  border">
    <div class="col-6 mb-2 font-weight-600">
        General
    </div>
    <div class="col-6">
    </div>

    <div class="col-6">
        Sell Price
    </div>
    <div class="col-6">
        @Model.SalePrice.ToString("N0")
    </div>

    <div class="col-6">
        Purchase Price
    </div>
    <div class="col-6">
        @Model.PurchasePrice.ToString("N0")
    </div>
</div>

<div class="row bg-gray-100 py-2  border">
    <div class="col-6 mb-2 font-weight-600">
        Stock
    </div>
    <div class="col-6">
        <a href="/@CompanyId/Products/Items/@Model.Id/Refresh/Stock"></a>
        <span class="material-icons-outlined">
            refresh
        </span>
    </div>

    <div class="col-6">
        Purchase
    </div>
    <div class="col-6">
        @Model.AmountPurchase.ToString("N0")
    </div>

    <div class="col-6">
        Sold
    </div>
    <div class="col-6">
        @Model.AmountSold.ToString("N0")
    </div>

    <div class="col-6">
        Adjust
    </div>
    <div class="col-6">
        @Model.StockAmount.ToString("N0")
    </div>


    <div class="col-6">
        Stock
    </div>
    <div class="col-6">
        @Model.AmountOnHand.ToString("N0")
    </div>
</div>