@model ERPKeeperCore.Enterprise.Models.Items.Item



<div class="grid grid-cols-6">


    <a href="/@CompanyId/Prodects/Items/@Model.Id">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.Status
            </div>
            <div class="text-lg text-center">
                Status
            </div>
        </div>
    </a>




    <a href="/@CompanyId/Prodects/Brands/@Model.Id/">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.Brand?.Name
            </div>
            <div class="text-lg text-center">
                Brnad
            </div>
        </div>
    </a>



    <a href="/@CompanyId/Prodects/Items/@Model.Id/SaleQuoteItems">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.SaleQuoteItems.Count()  / @Model.SaleQuoteItems.Sum(x => x.Quantity)
            </div>
            <div class="text-lg text-center">
                SaleQuote
            </div>
        </div>
    </a>




    <a href="/@CompanyId/Prodects/Items/@Model.Id/Sales">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.SaleItems.Count() / @Model.SaleItems.Sum(x => x.Quantity)
            </div>
            <div class="text-lg text-center">
                Sale
            </div>
        </div>
    </a>


    <a href="/@CompanyId/Prodects/Items/@Model.Id/PurchaseQuotes">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.PurchaseQuoteItems.Count() / @Model.PurchaseQuoteItems.Sum(x => x.Quantity)
            </div>
            <div class="text-lg text-center">
                PurchaseQuote
            </div>
        </div>
    </a>



    <a href="/@CompanyId/Prodects/Items/@Model.Id/Purchases">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.PurchaseItems.Count() / @Model.PurchaseItems.Sum(x => x.Quantity)
            </div>
            <div class="text-lg text-center">
                Purchases
            </div>
        </div>
    </a>

    <a href="/@CompanyId/Prodects/Items/@Model.Id/Customers">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.CustomerItems.Count()
            </div>
            <div class="text-lg text-center">
                Customers
            </div>
        </div>
    </a>
    <a href="/@CompanyId/Prodects/Items/@Model.Id/Suppliers">
        <div class="bg-gray-100 h-20 content-center border">
            <div class="text-3xl text-center font-semibold">
                @Model.SupplierItems.Count() 
            </div>
            <div class="text-lg text-center">
                Suppliers
            </div>
        </div>
    </a>
</div>


