@model ERPKeeper.Node.Models.Financial.Payments.SupplierPayment
@using ERPKeeper.Node.Models.Transactions

@{
    var purchases = Organization.ErpNodeDBContext.Purchases
             .Where(s => s.ProfileGuid == Model.ProfileGuid && s.Status != CommercialStatus.Void && s.GeneralPaymentUid == null)
              // .Where(s => s.TrnDate <= Model.TrnDate)
              .ToList();
}


<div class="bg-fb2 mb-2 p-2 rounded">
    <div class="mb-2 font-weight-bold">
        @purchases.Count Open Sales
    </div>

    @{
        foreach (var commercial in purchases.OrderBy(s => s.Name).ToList())
        {
            <div class="row">
                <div class="col p-0 mb-1">
                    @Html.ActionLink(commercial.Name, "Home", "Sale", new { id = commercial.Uid }, null)
                    @if (commercial.Reference != null)
                    {
                       <br /><span> (@commercial.Reference)</span>
                    }
                </div>
                <div class="col-3 p-0 ">
                    @commercial.TrnDate.ToString("dd-MMM-yy") (@commercial.Age)
                </div>
                <div class="col-3 p-0 mb-1 text-right">
                    @commercial.Total.ToString("N2")
                </div>
                <div class="col-1 p-0 mb-1 text-right">
                    @if (Model.PostStatus != ERPKeeper.Node.Models.Accounting.Enums.LedgerPostStatus.Locked)
                    {
                        <a href="@Url.Action("AddCommercial",new { id = Model.Uid , commercialUid = commercial.Uid})">
                            <i class="fas fa-plus-circle text-secondary"></i>
                        </a>
                    }
                </div>
            </div>
        }
    }
</div>
