@model ERPKeeperCore.Enterprise.Models.Customers.SaleQuote

<form id="EditForm" action="/@CompanyId/Customers/SaleQuotes/@Model.Id/Update" method="post">
    <div>
        <div class="grid grid-cols-2 gap-2">
            <div class="border">
                <div class=" bg-gray-100 p-2 mb-2 rounded">

                    <div class="flex">
                        <div class="w-10/12 p-0">
                            <div class="mb-3 font-weight-600">Customer</div>
                        </div>
                        <div class="w-2/12 p-0 text-right">
                            <a href="/@CompanyId/Profiles/@Model.CustomerId">
                                <span class="material-icons-outlined">
                                    badge
                                </span>
                            </a>
                        </div>
                    </div>



                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Customer.Profile.Name).Label("Customer").LabelMode(EditorLabelMode.Static).Disabled(true)</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Customer.Profile.TaxNumber).Label("Tax").LabelMode(EditorLabelMode.Static).Disabled(true)</div>
                    <div class="mb-2">@Html.DevExtreme().NumberBoxFor(m => m.Discount).Label("Discount").LabelMode(EditorLabelMode.Static)</div>
                </div>
            </div>

            <div class="border">
                <div class=" bg-gray-100 p-2 mb-2 rounded">
                    <div class="mb-3 font-weight-600">General</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Name).Label("Name").LabelMode(EditorLabelMode.Static).Disabled(true)</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.No).Label("No").LabelMode(EditorLabelMode.Static)</div>

                    <div class="mb-2">@Html.DevExtreme().DateBoxFor(m => m.Date).Label("TrnDate").LabelMode(EditorLabelMode.Static)</div>
                    <div class="mb-2">
                        @(Html.DevExtreme().SelectBoxFor(m => m.TaxCodeId)
                            .DataSource(Organization.TaxCodes.ListAll().Select(t => new { t.Id, t.Name }).ToList())
                            .Placeholder("Choose Tax Code")
                            .DisplayExpr("Name")
                            .ValueExpr("Id")
                            .Label("Tax")
                            .ShowClearButton(true)
                            .LabelMode(EditorLabelMode.Static)
                            )
                    </div>
                </div>
            </div>
            <div class="border">
                <div class=" bg-gray-100 p-2 mb-2 rounded">

                    <div class="mb-2">
                        <div class="mb-3 font-weight-600">Projects</div>

                        @(Html.DevExtreme().SelectBoxFor(m => m.ProjectId)
                            .DataSource(Organization.ErpCOREDBContext.Projects.Select(t => new { t.Id, t.Name }).ToList())
                            .Placeholder("Projects")
                            .DisplayExpr("Name")
                            .ValueExpr("Id")
                            .Label("Tax")
                            .ShowClearButton(true)
                            .LabelMode(EditorLabelMode.Static)
                            )
                    </div>
                </div>
            </div>

            <div class="col-6 p-0">
                <div class=" bg-gray-100 p-2 mb-2 rounded">
                    <div class="mb-3 font-weight-600">
                    </div>

                </div>
            </div>
            <div class="col-6 p-0">
                <div class=" bg-gray-100 p-2 mb-2 rounded">
                    <div class="mb-3 font-weight-600">Memo</div>
                    <div class="mb-2">@Html.DevExtreme().TextAreaFor(m => m.Memo).Height(150).Label("Detail").LabelMode(EditorLabelMode.Static)</div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="document.getElementById('EditForm').submit();">
        Save
    </button>
</form>
