@model ERPKeeperCore.Enterprise.Models.Customers.SaleQuote

@{
    Layout = "_Layout_Export";

    var SaleQuote = Organization.SaleQuotes.Find(Model.Id);

    var documentNameContent = @SharedLocalizer.GetLocalizedHtmlString("Quotation").ToString();
    var customerAddress = SaleQuote.ProfileAddesss;

    if (customerAddress == null)
        customerAddress = SaleQuote.Customer.Profile.Addresses.FirstOrDefault();
}

@await Html.PartialAsync("/areas/enterprise_export/view/shared/_header.cshtml", documentNameContent)


<div class="grid grid-cols-3 gap-2 border border-dark" id="BuyerDetail">
    <div class="col-span-2 p-2">
        <div>
            <b>@SharedLocalizer.GetLocalizedHtmlString("Buyer")</b>
            <a href="/Customers/Customers/@SaleQuote.CustomerId" class="font-semibold">
                @SaleQuote.Customer.Profile.Name
            </a>
        </div>

        <div>
            @SharedLocalizer.GetLocalizedHtmlString("TaxID") @SaleQuote.Customer.Profile.TaxNumber @SharedLocalizer.GetLocalizedHtmlString("Branch") @customerAddress?.Number
        </div>

        @if (customerAddress != null)
        {
            <div>
                @customerAddress.AddressLine?.Trim()<br />
                @customerAddress.PhoneNumber
            </div>
        }
    </div>
    <div class="  p-2">
        <div class="grid grid-cols-2 gap-x-2">
            <div class="font-semibold">@SharedLocalizer.GetLocalizedHtmlString("Number")</div>
            <div class="text-right">@SaleQuote.Name</div>

            <div class="font-semibold">@SharedLocalizer.GetLocalizedHtmlString("Date")</div>
            <div class="text-right">@SaleQuote.Date.ToString("dd-MMM-yyyy")</div>

            <div class="font-semibold">@SharedLocalizer.GetLocalizedHtmlString("Reference")</div>
            <div class="text-right">@SaleQuote.Reference</div>

            <div class="font-semibold">@SharedLocalizer.GetLocalizedHtmlString("PaymentTerm")</div>
            <div class="text-right">@SaleQuote.PaymentTerm?.Name</div>
        </div>
    </div>
</div>

@{
    var itemGroups = SaleQuote.Items.GroupBy(i => i.Group)
    .Select(g => new
    {
        Group = g.Key,
        Items = g.ToList()
    })
    .OrderBy(x => x.Group)
    .ToList();

    int order = 0;
}


<!-- Items Table -->
<div class="border border-dark" id="Items">
    <!-- Table Header -->
    <div class="grid grid-cols-12 gap-2 font-semibold mb-2 p-2   border-bottom border-dark">
        <div class="col-span-7">@SharedLocalizer.GetLocalizedHtmlString("Items")</div>
        <div class="col-span-1 text-right">@SharedLocalizer.GetLocalizedHtmlString("Quantity")</div>
        <div class="col-span-2 text-right">@SharedLocalizer.GetLocalizedHtmlString("Price")</div>
        <div class="col-span-2 text-right">@SharedLocalizer.GetLocalizedHtmlString("Total")</div>
    </div>
    <div class="mb-2 p-2 min-h-96">

        @foreach (var itemGroup in itemGroups)
        {
            <div class="font-weight-bold">
                @itemGroup.Group
            </div>

            @foreach (var item in itemGroup.Items.OrderBy(x => x.Order).ToList())
            {

                order++;
                item.Order = order;

                <div class="grid grid-cols-12 gap-2 pb-1 no-break">
                    <div class="flex col-span-7">
                        <div class="pr-3">@order</div>

                        <div class="">
                            <div class="font-semibold">
                                @item.PartNumber
                            </div>
                            <div class="">
                                @Html.Raw(item.Description?.Replace("\n", "<br/>"))
                            </div>

                            @if (!string.IsNullOrEmpty(item.Serial))
                            {
                                <div class="whitespace-pre-line">
                                    @item.Serial
                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-span-1 text-right">@item.Quantity</div>
                    <div class="col-span-2 text-right">@item.PriceAfterDiscount.ToString("N2")</div>
                    <div class="col-span-2 text-right">@item.LineTotal.ToString("N2")</div>
                </div>
            }
        }
        <div class="mb-2 pt-4">
            @SaleQuote.Memo
        </div>
    </div>

</div>
@{
    Organization.SaveChanges();
}

<div class="grid grid-cols-2 mb-1 border border-dark p-2  no-break" id="Summary">

    <div>
        @await Html.PartialAsync("/areas/enterprise_export/view/shared/_Payments_BankAccounts.cshtml")
    </div>

    <div class="mb-2">
        @if (@SaleQuote.Discount > 0)
        {
            <div class="grid grid-cols-4 gap-4">
                <div class="text-right col-span-3">@SharedLocalizer.GetLocalizedHtmlString("Discount")</div>
                <div class="text-right ">@SaleQuote.Discount.ToString("N2")</div>
            </div>
        }
        @if (SaleQuote.IsPriceTaxInclude)
        {
            var tax = SaleQuote.Total - (SaleQuote.Total / (1 + (SaleQuote.TaxCode.Rate / 100)));
            var productPrice = SaleQuote.Total - tax;

            <div class="grid grid-cols-4 gap-4 ">
                <div class="text-right col-span-3">@SharedLocalizer.GetLocalizedHtmlString("LinesTotal")</div>
                <div class="text-right ">@productPrice.ToString("N2")</div>
            </div>


            <div class="grid grid-cols-4 gap-4">
                <div class="text-right col-span-3">@SharedLocalizer.GetLocalizedHtmlString("VAT")</div>
                <div class="text-right ">@tax.ToString("N2")</div>
            </div>

            <div class="grid grid-cols-4 gap-4">
                <div class="text-right col-span-3">@SharedLocalizer.GetLocalizedHtmlString("GrandTotal")</div>
                <div class="text-right ">@SaleQuote.LinesTotalAfterDiscount.ToString("N2")</div>
            </div>

        }
        else
        {

            <div class="grid grid-cols-4 gap-4">
                <div class="text-right col-span-3">@SharedLocalizer.GetLocalizedHtmlString("LinesTotal")</div>
                <div class="text-right ">@SaleQuote.LinesTotalAfterDiscount.ToString("N2")</div>
            </div>


            <div class="grid grid-cols-4 gap-4">
                <div class="text-right col-span-3">@SharedLocalizer.GetLocalizedHtmlString("VAT")</div>
                <div class="text-right ">@SaleQuote.Tax.ToString("N2")</div>
            </div>


            <div class="grid grid-cols-4 gap-4 ">
                <div class="text-right col-span-3">@SharedLocalizer.GetLocalizedHtmlString("GrandTotal")</div>
                <div class="text-right ">@SaleQuote.Total.ToString("N2")</div>
            </div>


        }


        <div class="text-right pt-2">
            @ERPKeeperCore.Enterprise.Helpers.ThaiMoneyConverter.ReturnThaiMoney(SaleQuote.Total)
        </div>
    </div>

</div>

