@model ERPKeeperCore.Enterprise.Models.Customers.Sale

<div class="flex flex-wrap bg-gray-100 p-2 border mb-2">

    <div class="w-4/12 font-semibold">
        Status
    </div>
    <div class="w-8/12">
        @Model.Status
    </div>



    <div class="w-4/12 font-semibold">
        Lines
    </div>
    <div class="w-8/12">
        @Model.LinesTotal
    </div>

    <div class="w-4/12 font-semibold">
        Discount
    </div>
    <div class="w-8/12">
        @Model.Discount
    </div>


    <div class="w-4/12 font-semibold">
        Tax
    </div>
    <div class="w-8/12">
        @Model.Tax
    </div>

    <div class="w-4/12 font-semibold">
        Total
    </div>
    <div class="w-8/12">
        @Model.Total
    </div>
</div>