@model ERPKeeperCore.Enterprise.Models.Customers.Sale

@{
    Layout = "_Layout_Export";
}

@{
    var documentNameContent = ViewBag.DocumentName;
    var customerAddress = Model.Customer.Profile.Addresses.FirstOrDefault();
}

<partial name="/areas/enterprise_export/view/shared/_header.cshtml" model="documentNameContent" />

<div class="grid grid-cols-3" id="BuyerDetail">
    <div class="col-span-2 border border-dark  p-2">
        <div class="font-semibold">
            <b>???????</b>
            <a href="/Customers/Customers/@Model.CustomerId">
                @Model.Customer.Profile.Name
            </a>
        </div>
        <div>
            ????????????????? @Model.Customer.Profile.TaxNumber ???? @customerAddress?.Number
        </div>
        @if (customerAddress != null)
        {
            <div>
                @customerAddress.AddressLine?.Trim()<br />
                @customerAddress.PhoneNumber
            </div>
        }
    </div>
    <div class=" border border-dark  p-2">
        <div class="grid grid-cols-2 gap-x-2">
            <div class="font-semibold">??????</div>
            <div class="text-right">@Model.Name</div>

            <div class="font-semibold">??????</div>
            <div class="text-right">@Model.Date.ToString("dd-MMM-yyyy")</div>

            <div class="font-semibold">???????</div>
            <div class="text-right">@Model.Reference</div>

            <div class="font-semibold">?????????????</div>
            <div class="text-right">@Model.PaymentTerm?.Name</div>
        </div>
    </div>
</div>

<!-- Items Table -->
<div class="border border-dark min-h-96" id="Items">
    <!-- Table Header -->
    <div class="grid grid-cols-12 gap-2 font-semibold border-bottom border-dark p-2">

        <div class="col-span-7">??????</div>
        <div class="col-span-1 text-right">?????</div>
        <div class="col-span-2 text-right">???????</div>
        <div class="col-span-2 text-right">???</div>
    </div>
    <div class="p-2">

        @{
            decimal total = 0;
        }
        @foreach (var item in Model.Items.Where(i => i.Quantity != 0).ToList())
        {
            decimal lineTotal = Model.TaxCode.GetTotalBalance(DateTime.Now, item.PriceAfterDiscount, 4) * item.Quantity;
            total = total + lineTotal;

            <div class="grid grid-cols-12 gap-2 py-1">
                <div class="flex col-span-7">

                    @*                     <div class="pr-3">@item.Order</div> *@

                    <div class="">
                        <div class="font-semibold">
                            @item.PartNumber
                        </div>
                        <div class="">
                            @item.Description
                        </div>

                        @if (!string.IsNullOrEmpty(item.Serial))
                        {
                            <div class="whitespace-pre-line">
                                S/N: @item.Serial.Replace("\n", ", ")
                            </div>
                        }

                    </div>
                </div>
                <div class="col-span-1 text-right">@item.Quantity</div>
                <div class="col-span-2 text-right">
                    @Model.TaxCode.GetTotalBalance(DateTime.Now, item.PriceAfterDiscount, 4).ToString("N2")
                </div>
                <div class="col-span-2 text-right">@((Model.TaxCode.GetTotalBalance(DateTime.Now, item.PriceAfterDiscount, 4) * item.Quantity).ToString("N2"))</div>
            </div>
        }

        <div class="mb-2 pt-4">
            @Model.Memo
        </div>
    </div>
</div>



<div class="grid grid-cols-2 gap-2 mb-3 border border-dark p-2" id="Summary">
    <div>
        @await Html.PartialAsync("/areas/enterprise_export/view/shared/_Payments_BankAccounts.cshtml")
    </div>

    <div class="mb-2">
        @if (@Model.Discount > 0)
        {
            <div class="grid grid-cols-2 gap-4">

                <div class="text-right">??????</div>
                <div class="text-right ">@Model.Discount.ToString("N2")</div>
            </div>
        }

        <div class="grid grid-cols-2 gap-4 ">
            <div class="text-right">???????????</div>
            <div class="text-right ">@total.ToString("N2")</div>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="text-right">???????????????</div>
            <div class="text-right ">@Model.Tax.ToString("N2")</div>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="text-right">??????????</div>
            <div class="text-right ">@((total - Model.Tax).ToString("N2"))</div>
        </div>





        <div class="text-right pt-2">
            (@ERPKeeperCore.Enterprise.Helpers.ThaiMoneyConverter.ReturnThaiMoney(Model.Total))
        </div>
    </div>
</div>




<div class="mb-3">
    Issuer: @User.Identity.Name
</div>