@model ERPKeeper.Node.Models.Accounting.JournalEntry

<div class="row bg-fb2 p-1 mb-2 mh-50 rounded">
    <div class="col">
        <b>JournalEntry @Model.Name</b><br />
        @Model.Status <br />
    </div>
    <div class="col text-right p-2">
        @if (Model.PostStatus == ERPKeeper.Node.Models.Accounting.Enums.LedgerPostStatus.Locked)
        {
            <a href="@Url.Action("Ledger",  new { id = Model.Uid })">
                <i class="fas fa-globe-asia fa-lg text-muted"></i>
            </a>
        }
        <span id="ImageMenuAction" style="cursor:pointer"><i class="fab fa-chrome fa-lg text-muted"></i></span>

        @Html.DevExpress().PopupMenu(settings =>
        {
            settings.Name = "PopupMenuAdd";
            settings.PopupElementID = "ImageMenuAction";
            settings.ShowPopOutImages = DefaultBoolean.True;
            settings.PopupAction = PopupAction.LeftMouseClick;
            settings.Styles.Item.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(5);

            if (Model.PostStatus == ERPKeeper.Node.Models.Accounting.Enums.LedgerPostStatus.Locked)
                settings.Items.Add("UnPost").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "JournalEntry", Action = "UnPost", id = Model.Uid });
            else
                settings.Items.Add("Post Ledger").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "JournalEntry", Action = "PostLedger", id = Model.Uid });


            settings.Items.Add("Refresh").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "JournalEntry", Action = "Refresh", id = Model.Uid });
            settings.Items.Add("Delete").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "JournalEntry", Action = "Delete", id = Model.Uid });

        }).GetHtml()

    </div>
</div>

@Html.DevExpress().Menu(settings =>
{
    settings.Name = "mFeatures";
    settings.AllowSelectItem = true;
    settings.EnableHotTrack = true;
    settings.EnableAnimation = true;
    settings.ShowPopOutImages = DefaultBoolean.True;
    settings.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
    settings.Width = 200;
    settings.Styles.Item.Paddings.Padding = Unit.Pixel(5);

    //settings.Items.Add("Home").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "JournalEntry", Action = "Home", id = Model.Uid });




}).GetHtml()

