@model ERPKeeper.Node.Models.Accounting.AccountItem

<div class="row">
    <div class="col-2 col-Left pl-0">
        @Html.Action("_Main", "Default", new { Area = "Menu" })
    </div>
    <div class="col p-0">
        @*@Html.Partial("_MenuTop")*@
        @Html.Partial("_Top")
        @Html.Action("_Tile")
    </div>
    <div class="col-3 col-Right pr-0">
        @Html.Action("_FocusAccountsPreview", "ChartOfAccount", new { Area = "Accounting" })
        @Html.Partial("~/Areas/Tasks/Views/Tasks/_PreLoadOpenTaskSummary.cshtml")
        @Html.Partial("_Dash", Organization.SelfProfile)
    </div>
</div>