@model ERPKeeper.Node.Models.Taxes.TaxCode

<div class="globalContainer">
    <div class="row">
        <div class="col-2 col-Left pl-0">
            @Html.Action("_Main", "Default", new { Area = "Menu" })
        </div>
        <div class="col col-Middle p-0">
            @Html.Partial("_MenuTop")
           @Html.Partial("_DetailForm", Model)
        </div>
        <div class="col-3 col-Right pr-0">
         
        </div>
        <div class="col-3 col-Left pl-0">
            @*@if (Model != null)
            {
                @Html.Action("_MiniChart", "AccountItem", new { id = Model?.AssignAccountGuid, Area = "Accounting" })
                <div class="mt-3"></div>
                @Html.Action("_MiniChart", "AccountItem", new { id = Model?.CloseToAccountGuid, Area = "Accounting" })
            }*@
        </div>
    </div>
</div>
