@model ERPKeeperCore.Enterprise.Models.Taxes.TaxPeriod


@{
    bool checkCurrentController(string controllerName)
    {
        var currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        return currentControllerName == controllerName;
    }

    void Template(string display, string url, int? count = null)
    {
        <div class="flex e pl-0 @(checkCurrentController(url) ? "font-weight-600" : "")">
            <div class="grow">
                <a href="@url">
                    @SharedLocalizer.GetLocalizedHtmlString(display)
                </a>
            </div>
            <div class="w-2/12 p-0 text-right">
                <span class="badge badge-light text-dark">@count</span>
            </div>
        </div>
    }
}

<div class="font-weight-600 border p-2 bg-gray-100">
    <a href="/@CompanyId/Taxes">Taxes</a><br />
</div>
<div class="font-weight-600 border p-2 bg-gray-100">
    <a href="/@CompanyId/Taxes/TaxPeriods">TaxPeriods</a> <br/> 
    <a href="/@CompanyId/Taxes/TaxPeriods/@Model.Id">@Model.Name</a>
</div>
<div class="border p-2 bg-gray-100">
    @{
        Template("Home", $"/{CompanyId}/Taxes/TaxPeriods/{Model.Id}");
        Template("Sales", $"/{CompanyId}/Taxes/TaxPeriods/{Model.Id}/Sales", Model.SalesCount);
        Template("Purchase", $"/{CompanyId}/Taxes/TaxPeriods/{Model.Id}/Purchases", Model.PurchasesCount);
        Template("AutoAssign", $"/{CompanyId}/Taxes/TaxPeriods/{Model.Id}/AutoAssign");
        Template("Export", $"/{CompanyId}/Taxes/TaxPeriods/{Model.Id}/Export", Model.PurchasesCount);
    }
</div>