@model ERPKeeperCore.Enterprise.Models.Taxes.TaxPeriod

@{
    Layout = "_Layout_Empty";
    var selfOrganization = Organization.Profiles.GetSelf();

}
<style>
    @@media print {
        .page-break {
            page-break-before: always;
        }
    }
</style>

<div class="">
    <div class="mh-50"></div>
    <div class="row mt-4 mb-3" id="SelfOrganizationDetail">
        <div class="col-12 p-0 text-center">
            <div>
                รายงานภาษีซื้อ
            </div>
            <div>
                @selfOrganization.Name
            </div>
            <div>
                เลขที่ผู้เสียภาษี @selfOrganization.TaxNumber สาขา 00000
            </div>
            <div>
                @Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()
            </div>

        </div>
    </div>

    @foreach (var item in Model.Purchases.OrderBy(m => m.Date).ToList())
    {
        <div class="row border-bottom">
            <div class="col-1 p-0">
                @item.Date.ToShortDateString()
            </div>
            <div class="col-2">
                @item.Name
            </div>
            <div class="col p-0">
                @item.Supplier.Profile.Name
            </div>
            <div class="w-2/12 p-0">
                @item.Supplier.Profile.TaxNumber
            </div>
            <div class="col-1 p-0 text-right">
                @item.LinesTotalAfterDiscount.ToString("N2")
            </div>
            <div class="col-1 p-0 text-right">
                @item.Tax.ToString("N2")
            </div>
        </div>
    }

    <div class="row border-bottom font-weight-600">
        <div class="col p-0">
        </div>
        <div class="col-1 p-0 text-right">
            @Model.Purchases.Sum(m => m.LinesTotalAfterDiscount).ToString("N2")
        </div>
        <div class="col-1 p-0 text-right">
            @Model.Purchases.Sum(m => m.Tax).ToString("N2")
        </div>
    </div>
</div>



<div class="">
    <div class="mh-50"></div>
    <div class="row mt-4 mb-3" id="SelfOrganizationDetail">
        <div class="col-12 p-0 text-center">
            <div>
                รายงานภาษีขาย
            </div>
            <div>
                @selfOrganization.Name
            </div>
            <div>
                เลขที่ผู้เสียภาษี @selfOrganization.TaxNumber สาขา 00000
            </div>
            <div>
                @Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()
            </div>

        </div>
    </div>

    @foreach (var item in Model.Sales.OrderBy(m => m.Date).ToList())
    {
        <div class="row border-bottom">
            <div class="col-1 p-0">
                @item.Date.ToShortDateString()
            </div>
            <div class="col-2">
                @item.Name
            </div>
            <div class="col p-0">
                @item.Customer.Profile.Name
            </div>
            <div class="w-2/12 p-0">
                @item.Customer.Profile.TaxNumber
            </div>
            <div class="col-1 p-0 text-right">
                @item.LinesTotalAfterDiscount.ToString("N2")
            </div>
            <div class="col-1 p-0 text-right">
                @item.Tax.ToString("N2")
            </div>
        </div>
    }

    <div class="row border-bottom font-weight-600">
        <div class="col p-0">
        </div>
        <div class="col-1 p-0 text-right">
            @Model.Sales.Sum(m => m.LinesTotalAfterDiscount).ToString("N2")
        </div>
        <div class="col-1 p-0 text-right">
            @Model.Sales.Sum(m => m.Tax).ToString("N2")
        </div>
    </div>
</div>