@model ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote

<form id="EditForm" action="/@CompanyId/Suppliers/PurchaseQuotes/@Model.Id/Update" method="post">
    <div>
        <div class="grid grid-cols-3">

            <div class="border">
                <div class=" bg-gray-100 p-2 mb-2 rounded">

                    <div class="flex flex-wrap justify-between">
                        <div class="">
                            <div class="mb-3 font-semibold text-lg">Supplier</div>
                        </div>
                        <div class="">
                            <a href="/@CompanyId/Profiles/@Model.SupplierId">
                                <i class="fa-regular fa-id-badge text-xl"></i>
                            </a>
                        </div>
                    </div>



                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Supplier.Profile.Name).Label("Supplier").LabelMode(EditorLabelMode.Static).Disabled(true)</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Supplier.Profile.TaxNumber).Label("Tax").LabelMode(EditorLabelMode.Static).Disabled(true)</div>
                    <div class="mb-2">@Html.DevExtreme().NumberBoxFor(m => m.Discount).Label("Discount").LabelMode(EditorLabelMode.Static)</div>
                </div>
            </div>

            <div class="border">
                <div class=" bg-gray-100 p-2 mb-2 rounded">
                    <div class="mb-3 font-semibold text-lg">General</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Name).Label("Name").LabelMode(EditorLabelMode.Static).Disabled(true)</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.No).Label("No").LabelMode(EditorLabelMode.Static)</div>

                    <div class="mb-2">@Html.DevExtreme().DateBoxFor(m => m.Date).Label("TrnDate").LabelMode(EditorLabelMode.Static)</div>
                    <div class="mb-2">
                        @(Html.DevExtreme().SelectBoxFor(m => m.TaxCodeId)
                            .DataSource(Organization.TaxCodes.ListAll().Select(t => new { t.Id, t.Name }).ToList())
                            .Placeholder("Choose Tax Code")
                            .DisplayExpr("Name")
                            .ValueExpr("Id")
                            .Label("Tax")
                            .ShowClearButton(true)
                            .LabelMode(EditorLabelMode.Static)
                            )

                        @(Html.DevExtreme().SelectBoxFor(m => m.PaymentTermId)
                            .Name("PaymentTermId") // Manually set the name
                            .DataSource(Organization.PaymentTerms.GetAll().Select(t => new { t.Id, t.Name }).ToList())
                            .Placeholder("Payment Term")
                            .DisplayExpr("Name")
                            .ValueExpr("Id")
                            .Label("PaymentTerm")
                            .ShowClearButton(true)
                            .LabelMode(EditorLabelMode.Static))

                    </div>
                </div>
            </div>
            <div class="border">
                <div class=" bg-gray-100 p-2 mb-2 rounded">

                    <div class="mb-2">
                        <div class="mb-3 font-semibold text-lg">Projects</div>


                    </div>
                </div>
            </div>

            <div class="border">
                <div class=" bg-gray-100 p-2 mb-2 rounded">
                    <div class="mb-3 font-semibold text-lg">
                    </div>

                </div>
            </div>
            <div class="border">
                <div class=" bg-gray-100 p-2 mb-2 rounded">
                    <div class="mb-3 font-semibold text-lg">Memo</div>
                    <div class="mb-2">@Html.DevExtreme().TextAreaFor(m => m.Memo).Height(150).Label("Detail").LabelMode(EditorLabelMode.Static)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="border">
        <button class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="document.getElementById('EditForm').submit();">
            Save
        </button>
    </div>
</form>
