@model ERPKeeperCore.Enterprise.Models.Suppliers.PurchaseQuote

@{
    Layout = "_Layout_Export";
    var documentNameContent = "??????????";

    if (ViewBag.DocumentName != null)
    {
        documentNameContent = ViewBag.DocumentName;
    }

    var SupplierAddress = Model.Supplier.Profile.Addresses.FirstOrDefault();
}

@await Html.PartialAsync("/areas/enterprise_export/view/shared/_header.cshtml", documentNameContent)


<div class="grid grid-cols-3 gap-2 border border-dark" id="BuyerDetail">
    <div class="col-span-2  p-2">
        <div>
            <b>???????</b>
            <a href="/Suppliers/Suppliers/@Model.SupplierId" class="font-semibold">
                @Model.Supplier.Profile.Name
            </a>
        </div>
        <div>
            ????????????????? @Model.Supplier.Profile.TaxNumber ???? @SupplierAddress?.Number
        </div>
        @if (SupplierAddress != null)
        {
            <div>
                @SupplierAddress.AddressLine?.Trim()<br />
                @SupplierAddress.PhoneNumber
            </div>
        }
    </div>
    <div class="  p-2">
        <div class="grid grid-cols-2 gap-x-2">
            <div class="font-semibold">??????</div>
            <div class="text-right">@Model.Name</div>

            <div class="font-semibold">??????</div>
            <div class="text-right">@Model.Date.ToString("dd-MMM-yyyy")</div>

            <div class="font-semibold">???????</div>
            <div class="text-right">@Model.Reference</div>

            <div class="font-semibold">?????????????</div>
            <div class="text-right">@Model.PaymentTerm?.Name</div>
        </div>
    </div>
</div>

<!-- Items Table -->
<div class="border border-dark" id="Items">
    <!-- Table Header -->
    <div class="grid grid-cols-12 gap-2 font-semibold mb-2 p-2   border-bottom border-dark">
        <div class="col-span-7">??????</div>
        <div class="col-span-1 text-right">?????</div>
        <div class="col-span-2 text-right">???????</div>
        <div class="col-span-2 text-right">???</div>
    </div>
    <div class="mb-2 p-2 min-h-96">
        @foreach (var item in Model.Items.ToList())
        {
            <div class="grid grid-cols-12 gap-2 pb-1 no-break">
                <div class="flex col-span-7">
                    <div class="pr-2">
                        <span class="font-semibold pr-1">@item.Order</span>
                    </div>
                    <div>
                        <div class="font-semibold">@item.PartNumber</div>
                        <div class="">
                            @Html.Raw(item.Description.Replace("\n", "<br/>"))

                        </div>
                    </div>

                </div>
                <div class="col-span-1 text-right">@item.Quantity</div>
                <div class="col-span-2 text-right">@item.PriceAfterDiscount.ToString("N2")</div>
                <div class="col-span-2 text-right">@item.LineTotal.ToString("N2")</div>
            </div>
        }

        <div class="mb-2 pt-4">
            @Model.Memo
        </div>


    </div>
</div>


<div class="grid grid-cols-1 mb-1 border border-dark p-2  no-break" id="Summary">

    <div class="mb-2">
        @if (@Model.Discount > 0)
        {
            <div class="grid grid-cols-4 gap-4">
                <div class="text-right col-span-3">??????</div>
                <div class="text-right ">@Model.Discount.ToString("N2")</div>
            </div>
        }

        <div class="grid grid-cols-4 gap-4">
            <div class="text-right col-span-3">???????</div>
            <div class="text-right ">@Model.LinesTotalAfterDiscount.ToString("N2")</div>
        </div>

        <div class="grid grid-cols-4 gap-4">
            <div class="text-right col-span-3">???????????????</div>
            <div class="text-right ">@Model.Tax.ToString("N2")</div>
        </div>

        <div class="grid grid-cols-4 gap-4 ">
            <div class="text-right col-span-3">???????????</div>
            <div class="text-right ">@Model.Total.ToString("N2")</div>
        </div>


    </div>
    <div class="text-right pt-2">
        (@ERPKeeperCore.Enterprise.Helpers.ThaiMoneyConverter.ReturnThaiMoney(Model.Total))
    </div>
</div>



<div class="mb-3">
    Issuer: @User.Identity.Name
</div>