@model ERPKeeperCore.Enterprise.Models.Employees.EmployeePayment

<div class="grid grid-cols-6 gap-2">
    <!-- Employee Name -->
    <a href="/HR/Employees/@Model.EmployeeId" class="col-span-2">
        <div class="bg-gray-100 h-20 border flex flex-col justify-center items-center hover:bg-gray-200 transition">
            <div class="text-2xl font-semibold">
                @Model.Employee.Profile.Name
            </div>
            <div class="text-lg text-gray-600">
                Employee
            </div>
        </div>
    </a>

    <!-- Payment Date -->
    <a href="/HR/EmployeePayments/@Model.Id/EmployeePayments">
        <div class="bg-gray-100 h-20 border flex flex-col justify-center items-center hover:bg-gray-200 transition">
            <div class="text-2xl font-semibold">
                @Model.EmployeePaymentPeriod.Date.ToString("dd-MMM-yyyy")
            </div>
            <div class="text-lg text-gray-600">
                Date
            </div>
        </div>
    </a>

    <!-- Item Count -->
    <a href="/HR/EmployeePayments/@Model.Id/EmployeePayments">
        <div class="bg-gray-100 h-20 border flex flex-col justify-center items-center hover:bg-gray-200 transition">
            <div class="text-2xl font-semibold">
                @Model.PaymentItems.Count()
            </div>
            <div class="text-lg text-gray-600">
                Items
            </div>
        </div>
    </a>

    <!-- Total Earning -->
    <a href="/HR/EmployeePayments/@Model.Id/Items">
        <div class="bg-gray-100 h-20 border flex flex-col justify-center items-center hover:bg-gray-200 transition">
            <div class="text-2xl font-semibold text-green-600">
                @Model.TotalEarning
            </div>
            <div class="text-lg text-gray-600">
                Earning
            </div>
        </div>
    </a>

    <!-- Total Deduction -->
    <a href="/HR/EmployeePayments/@Model.Id/Items">
        <div class="bg-gray-100 h-20 border flex flex-col justify-center items-center hover:bg-gray-200 transition">
            <div class="text-2xl font-semibold text-red-600">
                @Model.TotalDeduction
            </div>
            <div class="text-lg text-gray-600">
                Deduction
            </div>
        </div>
    </a>
</div>
