@model ERPKeeperCore.Enterprise.Models.Suppliers.Purchase

<div class="flex flex-wrap bg-gray-100 mb-2 ">

    <div class="col-4 font-semibold">
        Status
    </div>
    <div class="col-8 ">
        @Model.Status
    </div>



    <div class="col-4 font-semibold">
        Lines
    </div>
    <div class="col-8 ">
        @Model.LinesTotal
    </div>


    <div class="col-4 font-semibold">
        Discount
    </div>
    <div class="col-8 ">
        @Model.Discount
    </div>
    <div class="col-4 font-semibold">
        Tax
    </div>
    <div class="col-8 ">
        @Model.Tax
    </div>

    <div class="col-4 font-semibold">
        Total
    </div>
    <div class="col-8 ">
        @Model.Total
    </div>
</div>