@model ERPKeeperCore.Enterprise.Models.Customers.Sale

@{
    Layout = "_Layout_Empty";
    var selfOrganization = Organization.Profiles.GetSelf();
    // var selfOrganizationAddress = selfOrganization.Addresses.FirstOrDefault();
}
<style>
    @@media print {
        .page-break {
            page-break-before: always;
        }
    }
</style>

<div class="">
    <div class="mh-50"></div>
    <div class="row mt-4 mb-3" id="SelfOrganizationDetail">
        <div class="col-3 lh-1 font-weight-600 text-fs-24 text-danger">
            Engineering
            Craft
        </div>
        <div class="col">
            <div>
                <a href="/@CompanyId/Profiles/@selfOrganization.Id">
                    <b>@selfOrganization.Name</b>
                </a>
            </div>
            <div>
                @selfOrganization.Addresses.First().AddressLine
            </div>
        </div>
        <div class="col-4 p-0 text-right">
            <div>
                <b>ใบแจ้งหนี้ / ใบกำกับภาษี</b>
            </div>
            <div>
                @Model.Name
            </div>
        </div>
    </div>


    @{
        var customerAddress = Model.Customer.Profile.Addresses.FirstOrDefault();
    }

    <div class="row mt-4  mb-3" id="BuyerDetail">
        <div class="col">
            <div class="font-weight-600">
                ผู้ซื้อ

                <a href="/@CompanyId/Profiles/Customers/Customers/@Model.CustomerId">
                    <b>@Model.Customer.Profile.Name</b>
                </a>
            </div>
            <div>
                เลขที่ผู้เสียภาษี @Model.Customer.Profile.TaxNumber สาขา @customerAddress?.Number
            </div>
            <div>
                @if (customerAddress != null)
                {
                    <div>
                        @customerAddress.AddressLine<br />
                        @customerAddress.PhoneNumber
                    </div>
                }

            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4 p-0">

            <div class="row mb-4">
                <div class="col-4 p-0">
                    เลขที่
                </div>
                <div class="col-8 p-0 text-right">
                    @Model.Name
                </div>
                <div class="col-4 p-0">
                    วันที่
                </div>
                <div class="col-8 p-0 text-right">
                    @Model.Date.ToShortDateString()
                </div>

                <div class="col-4 p-0">
                    อ้างอิง
                </div>
                <div class="col-8 p-0 text-right">
                    @Model.Reference
                </div>

                <div class="col-4 p-0">
                    กำหนดชำระ
                </div>
                <div class="col-8 p-0 text-right">
                </div>
            </div>





        </div>
    </div>

    <div id="Items">


        <div class="row border-top font-weight-600">
            <div class="col">
                รายการ
            </div>
            <div class="col-1 text-right">
                จำนวน
            </div>
            <div class="col-2  p-0 text-right">
                หน่วยล่ะ
            </div>
            <div class="col-2  p-0 text-right">
                รวม
            </div>
        </div>

        @foreach (var item in Model.Items.ToList())
        {
            <div class="row border-top">
                <div class="col">
                    <div class="font-weight-600">
                        @item.PartNumber
                    </div>

                    @item.Description
                </div>
                <div class="col-1 text-right">
                    @item.Quantity
                </div>
                <div class="col-2 p-0 text-right">
                    @item.PriceAfterDiscount.ToString("N2")
                </div>
                <div class="col-2 p-0 text-right">
                    @item.LineTotal.ToString("N2")
                </div>
            </div>
        }

        <div class="row border-top">
            <div class="col">
            </div>
            <div class="col-3 text-right">
                ราคารวม
            </div>
            <div class="col-2 p-0 text-right font-weight-600">
                @Model.LinesTotal.ToString("N2")
            </div>
        </div>



        <div class="row border-top">
            <div class="col">
            </div>
            <div class="col-3 text-right">
                ส่วนลด
            </div>
            <div class="col-2 p-0 text-right font-weight-600">
                @Model.Discount.ToString("N2")
            </div>
        </div>


        <div class="row border-top">
            <div class="col">
            </div>
            <div class="col-3 text-right">
                ราคารวมหลัง ส่วนลด
            </div>
            <div class="col-2 p-0 text-right font-weight-600">
                @Model.LinesTotalAfterDiscount.ToString("N2")
            </div>
        </div>


        <div class="row border-top">
            <div class="col">
            </div>
            <div class="col-3 text-right">
                ภาษีมูลค่าเพิ่ม
            </div>
            <div class="col-2 p-0 text-right font-weight-600">
                @Model.Tax.ToString("N2")
            </div>
        </div>

        <div class="row border-top">
            <div class="col">
            </div>
            <div class="col-3 text-right">

                ราคารวมภาษี
            </div>
            <div class="col-2 p-0 text-right font-weight-600">
                @Model.Total.ToString("N2")
            </div>
        </div>



        <div class="row border-top border-bottom">

            <div class="col text-right p-0">
                ( @ERPKeeperCore.Enterprise.Helpers.ThaiMoneyConverter.ReturnThaiMoney(Model.Total) )
            </div>
        </div>
        <div class="row ">
            <div class="col p-0">
                Issuer: @User.Identity.Name
            </div>
        </div>

    </div>


</div>