@model ERPKeeper.Web.New.Models.MenuTemplateModel

<div class="menu-item-wrapper">
    <a href="@Model.Url" class="menu-link flex items-center justify-between py-1 px-3 border-bottom transition-all hover:bg-gray-300 hover:shadow-sm @(Context.Request.Path.StartsWithSegments(Model.Url) ? "bg-white shadow-sm font-semibold" : "")">
        <div class="flex items-center gap-2 pl-@(Model.Level * 2)">
            @if (!string.IsNullOrEmpty(Model.Icon))
            {
                <i class="@Model.Icon text-gray-600"></i>
            }
            <span class="menu-text">
                @SharedLocalizer.GetLocalizedHtmlString(Model.DisplayName)
            </span>
        </div>
        @if (Model.Count.HasValue && Model.Count.Value > 0)
        {
            <span class="menuCount text-xs font-semibold px-2 py-1 ">
                @Model.Count
            </span>
        }
    </a>
</div>
