@model ERPKeeper.Node.Models.Transactions.Commercial
@using ERPKeeper.Node.Models.Accounting.Enums

<div class="row">
    <div class="col-2 col-Left pl-0">
        @Html.Action("_Main", "Default", new { Area = "Menu" })
    </div>

    <div class="col col-Middle p-0">
        @Html.Partial("_MenuTop")
        @Html.Partial("~/Areas/Commercials/Views/Commercial/_CommercialItems.cshtml", Model)

    </div>
    <div class="col-3 col-Right pr-0">
        @Html.Partial("_Age")
        @Html.Action("_SummaryCallbackPanel", "Commercial", new { id = Model.Uid, Area = "Commercials" })

        @if (Model.PostStatus != LedgerPostStatus.Locked)
        {
            @Html.Action("_AssistItems", "Commercial", new { area = "Commercials", id = Model.Uid })
        }
    </div>
</div>