@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums



<div class="flex flex-wrap my-4">
	<div class="w-full  font-semibold ">
		6. ที่ดิน อาคารและอุปกรณ์
	</div>
	@{
		var assetsTypes = Organization.AssetTypes.GetAll();
		Decimal TotalOpening = 0;
		Decimal TotalDebit = 0;
		Decimal TotalCredit = 0;
		Decimal TotalClosing = 0;

		<div class="col-4 ">
		</div>
		<div class="w-2/12 text-right border-dark border-top ">
			ยอดคงเหลือ<br />
			@(Model.EndDate.Year - 1 + 543)
		</div>
		<div class="w-2/12 text-right border-dark border-top">
			เพิ่มขึ้น
		</div>
		<div class="w-2/12 text-right border-dark border-top">
			ลดลง
		</div>
		<div class="w-2/12 text-right border-dark border-top">
			ยอดคงเหลือ<br />
			@(Model.EndDate.Year + 543)
		</div>

		<div class="w-full  ">
			ราคาทุน
		</div>
		foreach (var assetType in assetsTypes)
		{
			var purchaseBalance = Model.FiscalYearAccountBalances.Where(m => m.AccountId == assetType.AwaitDeprecateAccId).First();



			TotalOpening += (purchaseBalance.OpeningDebit - purchaseBalance.OpeningCredit);
			TotalDebit += purchaseBalance.TotalDebit;
			TotalCredit += purchaseBalance.TotalCredit;
			TotalClosing += (purchaseBalance.ClosedDebit - purchaseBalance.ClosedCredit);


			if (TotalOpening == 0)
				continue;


			<div class="w-4/12 pl-4">
				<a href="/@CompanyId/Assets/AssetTypes/@assetType.Id/" target="_self">
					@assetType.Name
				</a>
			</div>
			<div class="w-2/12 text-right">
				@((purchaseBalance.OpeningDebit - purchaseBalance.OpeningCredit).ToString("N2"))
			</div>
			<div class="w-2/12 text-right">
				@((purchaseBalance.Debit).ToString("N2"))
			</div>
			<div class="w-2/12 text-right">
				@((purchaseBalance.Credit).ToString("N2"))
			</div>
			<div class="w-2/12 text-right">
				@((purchaseBalance.ClosedDebit - purchaseBalance.ClosedCredit).ToString("N2"))
			</div>
		}

		<div class="w-4/12 pl-4">
			รวมราคาทุน
		</div>
		<div class="w-2/12 text-right border-dark border-top">
			@(TotalOpening.ToString("N2"))
		</div>
		<div class="w-2/12 text-right border-dark border-top">
			@(TotalDebit.ToString("N2"))
		</div>
		<div class="w-2/12 text-right border-dark border-top">
			@(TotalCredit.ToString("N2"))
		</div>
		<div class="w-2/12 text-right border-dark border-top">
			@(TotalClosing.ToString("N2"))
		</div>
	}

	@{
		var TotalOpeningRemainValue = TotalOpening;
		var TotalClosingRemainValue = TotalClosing;


		TotalOpening = 0;
		TotalDebit = 0;
		TotalCredit = 0;
		TotalClosing = 0;

		<div class="w-full  mt-3">
			ค่าเสื่อมราคาสะสม
		</div>
		foreach (var assetType in assetsTypes)
		{
			var accumulateBalance = Model.FiscalYearAccountBalances.Where(m => m.AccountId == assetType.AccumulateDeprecateAccId).FirstOrDefault();
			if (accumulateBalance == null)
				continue;

			TotalOpening += (accumulateBalance.OpeningCredit - accumulateBalance.OpeningDebit);
			TotalDebit += accumulateBalance.TotalDebit;
			TotalCredit += accumulateBalance.TotalCredit;
			TotalClosing += (accumulateBalance.ClosedCredit - accumulateBalance.ClosedDebit);

			<div class="w-4/12 pl-4">
				<a href="/@CompanyId/Assets/AssetTypes/@assetType.Id/" target="_self">
					@assetType.Name
				</a>
			</div>

			<div class="w-2/12 text-right font-semibold ">
				@((accumulateBalance.OpeningCredit - accumulateBalance.OpeningDebit).ToString("N2"))
			</div>
			<div class="w-2/12 text-right font-semibold">
				@((accumulateBalance.Credit).ToString("N2"))
			</div>
			<div class="w-2/12 text-right font-semibold">
				@((accumulateBalance.Debit).ToString("N2"))
			</div>
			<div class="w-2/12 text-right font-semibold">
				@((accumulateBalance.ClosedCredit - accumulateBalance.ClosedDebit).ToString("N2"))
			</div>
		}

		<div class="w-4/12 pl-4">
			รวมค่าเสื่อมราคาสะสม
		</div>
		<div class="w-2/12 text-right border-dark border-top">
			@(TotalOpening.ToString("N2"))
		</div>
		<div class="w-2/12 text-right border-dark border-top">
			@(TotalDebit.ToString("N2"))
		</div>
		<div class="w-2/12 text-right border-dark border-top">
			@(TotalCredit.ToString("N2"))
		</div>
		<div class="w-2/12 text-right border-dark border-top">
			@(TotalClosing.ToString("N2"))
		</div>


		TotalOpeningRemainValue = TotalOpeningRemainValue - TotalOpening;
		TotalClosingRemainValue = TotalClosingRemainValue - TotalClosing;
	}


	<div class="w-4/12 font-bold">
		มูลค่าตามบัญชี
	</div>
	<div class="w-2/12 text-right border-dark border-top font-bold">
		@(TotalOpeningRemainValue.ToString("N2"))
	</div>
	<div class="w-2/12 text-right border-dark border-top">
	</div>
	<div class="w-2/12 text-right border-dark border-top">
	</div>
	<div class="w-2/12 text-right border-dark border-top font-bold">
		@(TotalClosingRemainValue.ToString("N2"))
	</div>


</div>

