@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums




<div class="mt-4 page-break">
    <div class="mh-50">
    </div>
    <div class="text-center font-weight-600  mb-3">
        @Organization.Profiles.GetSelf().Name<br />
        งบแสดงฐานะทางการเงิน<br />
        ณ วันที่  31 ธันวาคม @(Model.EndDate.Year - 1 + 543) และ @(Model.EndDate.Year + 543)
    </div>
    <div class="mh-50">
    </div>
    <div class="font-weight-600 text-center">
        หนี้สิน
    </div>
    <div class="flex mt-4">
        <div class="col-9">
        </div>
        <div class="w-3/12 font-weight-600 text-center">
            หน่วย:บาท
        </div>
        <div class="w-4/12 p-0  font-weight-600 ">
         
        </div>
        <div class="w-4/12 p-0">
        </div>

        <div class="w-2/12 p-0 text-right border-dark border-top">
            @(Model.EndDate.Year + 543)
        </div>
        <div class="w-2/12 p-0 text-right border-dark border-top">
            @(Model.EndDate.Year - 1 + 543)
        </div>
    </div>

    <div class="flex mb-3">
        @{
            var lines = Model.FiscalYearAccountBalances
            .Where(m => m.Account.Type == AccountTypes.Liability)
            .Where(m => !(m.TotalDebit == 0 && m.TotalCredit == 0 && m.OpeningDebit == 0 && m.OpeningCredit == 0))
            .OrderBy(m => m.Account.SubType)
            .ToList();


            <div class="col-12 p-0  font-weight-600 ">
                หนี้สินหมุนเวียน
            </div>
            foreach (var line in lines)
            {
                <div class="w-4/12 p-0">
                    <a href="/@CompanyId/Accounting/Accounts/@line.AccountId/" target="_blank">
                        @line.Account.Name
                    </a>
                </div>
                <div class="w-4/12 p-0">

                </div>

                <div class="w-2/12 p-0 text-right">
                    @((line.ClosedCredit - line.ClosedDebit).ToString("N2"))
                </div>
                <div class="w-2/12 p-0 text-right">
                    @((line.OpeningCredit - line.OpeningDebit).ToString("N2"))
                </div>
            }

            <div class="w-4/12 p-0">
            </div>
            <div class="w-4/12 p-0">
            </div>

            <div class="w-2/12 p-0 text-right border-dark border-top">
                @(lines.Sum(line => line.ClosedCredit - line.ClosedDebit).ToString("N2"))
            </div>
            <div class="w-2/12 p-0 text-right border-dark border-top">
                @(lines.Sum(line => line.OpeningCredit - line.OpeningDebit).ToString("N2"))
            </div>
        }
    </div>

    <div class="flex mb-3">
        @{
            lines = Model.FiscalYearAccountBalances
            .Where(m => m.Account.Type == AccountTypes.Liability)
            .Where(m => m.Account.SubType == AccountSubTypes.Asset_Cash)
            .Where(m => !(m.TotalDebit == 0 && m.TotalCredit == 0 && m.OpeningDebit == 0 && m.OpeningCredit == 0))
            .OrderBy(m => m.Account.SubType)
            .ToList();


            <div class="col-12 p-0  font-weight-600 ">
                หนี้สินไม่หมุนเวียน
            </div>
            foreach (var line in lines)
            {
                <div class="w-4/12 p-0">
                    <a href="/@CompanyId/Accounting/Accounts/@line.AccountId/" target="_blank">
                        @line.Account.Name
                    </a>
                </div>
                <div class="w-4/12 p-0">
                    @line.Account.SubType.ToString()
                </div>

                <div class="w-2/12 p-0 text-right">
                    @((line.ClosedCredit - line.ClosedDebit).ToString("N2"))
                </div>
                <div class="w-2/12 p-0 text-right">
                    @((line.OpeningCredit - line.OpeningDebit).ToString("N2"))
                </div>
            }

            <div class="w-4/12 p-0">
            </div>
            <div class="w-4/12 p-0">
            </div>

            <div class="w-2/12 p-0 text-right border-dark border-top">
                @(lines.Sum(line => line.ClosedCredit - line.ClosedDebit).ToString("N2"))
            </div>
            <div class="w-2/12 p-0 text-right border-dark border-top">
                @(lines.Sum(line => line.OpeningCredit - line.OpeningDebit).ToString("N2"))
            </div>
        }
    </div>

    <div class="flex mb-3">
        @{
            lines = Model.FiscalYearAccountBalances
            .Where(m => m.Account.Type == AccountTypes.Liability)
            .ToList();

        }
        <div class="w-4/12 p-0 font-weight-600 ">
            รวมหนี้สิน
        </div>
        <div class="w-4/12 p-0">
        </div>

        <div class="w-2/12 p-0 text-right border-dark border-top">
            @(lines.Sum(line => line.ClosedCredit - line.ClosedDebit).ToString("N2"))
        </div>
        <div class="w-2/12 p-0 text-right border-dark border-top">
            @(lines.Sum(line => line.OpeningCredit - line.OpeningDebit).ToString("N2"))
        </div>
    </div>

    <div class="mt-4">
        งบแสดงฐานะการเงินฉบับนี้ได้รับการอนุมัติจากที่ประชุมสามัญผู้ถือหุ้นครั้งที่ 1/@(Model.EndDate.Year - 1 + 543) เมื่อวันที่ 30 เมษายน @(Model.EndDate.Year + 1 + 543)
    </div>

</div>