@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums

<div class="mt-5 page-break">
</div>
<div class="flex mb-3">
	<div class="w-full  font-semibold ">
		7. เจ้าหนี้การค้าและเจ้าหนี้อื่น
	</div>
</div>

<div class="flex flex-wrap">
	<div class="w-9/12">
	</div>
	<div class="w-3/12 p-0  text-center">
		หน่วย:บาท
	</div>
	<div class="col-4   ">
	</div>
	<div class="w-4/12">
	</div>
	<div class="w-2/12 text-right border-dark border-top border-bottom">
		@(Model.EndDate.Year + 543)
	</div>
	<div class="w-2/12 text-right border-dark border-top border-bottom">
		@(Model.EndDate.Year - 1 + 543)
	</div>
</div>

<div class="flex flex-wrap">
	@{
		var lines = Model.FiscalYearAccountBalances
		.Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Liability)
		.Where(m => !(m.TotalDebit == 0 && m.TotalCredit == 0 && m.OpeningDebit == 0 && m.OpeningCredit == 0))
		// .Where(m => m.Account.SubType != AccountSubTypes.Cash)
		// .Where(m => m.Account.SubType != AccountSubTypes.Bank)
		// .Where(m => m.Account.SubType != AccountSubTypes.FixedAsset)
		// .Where(m => m.Account.SubType != AccountSubTypes.AccDepreciation)
		// .Where(m => m.Account.SubType != AccountSubTypes.Inventory)
		// .Where(m => m.Account.SubType != AccountSubTypes.TaxReceivable)
		// .Where(m => m.Account.SubType != AccountSubTypes.TaxInput)
		.OrderBy(m => m.Account.SubType)
		.ToList();




		foreach (var line in lines)
		{
			<div class="w-4/12">
				<a href="/Accounting/Accounts/@line.AccountId/" target="_self">
					@line.Account.Name
				</a>
			</div>
			<div class="w-4/12">
				@line.Account.SubType.ToString()
			</div>

			<div class="w-2/12 text-right">
				@((line.ClosingCredit - line.ClosedDebit).ToString("N2"))
			</div>
			<div class="w-2/12 text-right">
				@((line.OpeningCredit - line.OpeningDebit).ToString("N2"))
			</div>
		}

		<div class="w-4/12 font-bold">
			รวม
		</div>
		<div class="w-4/12">
		</div>

		<div class="w-2/12 text-right border-dark border-top font-bold">
			@(lines.Sum(line => line.ClosingCredit - line.ClosedDebit).ToString("N2"))
		</div>
		<div class="w-2/12 text-right border-dark border-top font-bold">
			@(lines.Sum(line => line.OpeningCredit - line.OpeningDebit).ToString("N2"))
		</div>
	}
</div>

<div class="mt-5 page-break">
</div>

<div class="flex mb-3">
	<div class="">
		<b>8. เงินกู้ยืมระยะยาว</b>
	</div>
</div>
