@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums


<div style="width:960px;" class="p-4 page-break">
    <div class="h-8"></div>
    <div class="text-center font-semibold  mb-3">
        @Organization.Profiles.GetSelf().Name<br />
        งบกำไรขาดทุน<br />
        สำหรับรอบระยะเวลาสิ้นสุด ณ วันที่  31 ธันวาคม @(Model.EndDate.Year - 1 + 543) และ @(Model.EndDate.Year + 543)
    </div>
    <div class="h-8"></div>
    <div class="grid grid-cols-4 mb-3 font-semibold">
        <div class="col-span-2">
        </div>
        <div class="col-span-2 font-semibold text-center">
            หน่วย:บาท
        </div>

        <div class="col-span-2 font-semibold ">
        </div>
        <div class="text-right font-semibold border-dark border-top">
            @(Model.EndDate.Year + 543)
        </div>
        <div class=" text-right font-semibold border-dark border-top">
            @(Model.EndDate.Year - 1 + 543)
        </div>
    </div>
    <div class="grid grid-cols-4 mb-3">
        <div class="col-span-full font-semibold ">
            รายได้
        </div>
        @{
            var currentFiscalYearIncomes = Model.FiscalYearAccountBalances
            .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Income)
            .OrderByDescending(m => (m.TotalDebit + m.TotalCredit))
            .ToList();


            var previusFiscalYearIncomes = Model.PreviusFiscalYear.FiscalYearAccountBalances
            .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Income)
            .OrderByDescending(m => (m.TotalDebit + m.TotalCredit))
            .ToList();


            foreach (var line in currentFiscalYearIncomes)
            {
                <div class="pl-3 col-span-2">
                    <a href="/Accounting/Accounts/@line.AccountId/" target="_self">
                        @line.Account.Name
                    </a>
                </div>
                <div class=" text-right">
                    @line.TotalCredit.ToString("N2")
                </div>
                <div class=" text-right">
                    @previusFiscalYearIncomes.Where(a => a.AccountId == line.AccountId).First().TotalCredit.ToString("N2")
                </div>
            }


            <div class="font-semibold col-span-2">
                รวมรายได้
            </div>
            <div class="text-right border-dark border-top font-semibold">
                @currentFiscalYearIncomes.Sum(m => m.TotalCredit).ToString("N2")
            </div>
                <div class="text-right border-dark border-top font-semibold">
                @previusFiscalYearIncomes.Sum(m => m.TotalCredit).ToString("N2")
            </div>
        }
    </div>
    <div class="grid grid-cols-4 mb-3">
        <div class="col-span-full  font-semibold ">
            ค่าใช้จ่าย
        </div>

        @{
            var currentFiscalYearExpenses = Model.FiscalYearAccountBalances
            .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Expense)
            .Where(m => m.Account.SubType != AccountSubTypes.Expense_IncomeTax)
            .OrderBy(x => x.Account.SubType)
            .ToList();

            var previusFiscalYearExpenses = Model.PreviusFiscalYear.FiscalYearAccountBalances
            .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Expense)
            .Where(m => m.Account.SubType != AccountSubTypes.Expense_IncomeTax)
            .OrderBy(x => x.Account.SubType)
            .ToList();




            <div class="pl-3  col-span-2">
                ต้นทุนขายและบริการ
            </div>
            <div class="text-right">
                @currentFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_CostOfGoodsSold).Sum(m => m.TotalDebit - m.TotalCredit).ToString("N2")
            </div>
            <div class="text-right">
                @previusFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_CostOfGoodsSold).Sum(m => m.TotalDebit - m.TotalCredit).ToString("N2")
            </div>




            <div class="pl-3 col-span-2">
                ค่าใช้จ่ายในการบริหาร
            </div>
            <div class="text-right">
                @currentFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_Administrative || e.Account.SubType == AccountSubTypes.Expense_Asset_Deprecate || e.Account.SubType == AccountSubTypes.Expense_Prohibit).Sum(m => m.TotalDebit - m.TotalCredit).ToString("N2")
            </div>
            <div class="text-right">
                @previusFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_Administrative || e.Account.SubType == AccountSubTypes.Expense_Asset_Deprecate || e.Account.SubType == AccountSubTypes.Expense_Prohibit).Sum(m => m.TotalDebit - m.TotalCredit).ToString("N2")
            </div>





            <div class="pl-3 col-span-2">
                ค่าใช้จ่ายในการขาย
            </div>
            <div class="text-right">
                @currentFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_Selling).Sum(m => m.TotalDebit - m.TotalCredit).ToString("N2")
            </div>
            <div class=" text-right">
                @previusFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_Selling).Sum(m => m.TotalDebit - m.TotalCredit).ToString("N2")
            </div>


            <div class="pl-3 col-span-2">
                ต้นทุนทางการเงิน
            </div>
            <div class=" text-right">
                @currentFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_Interest).Sum(m => m.TotalDebit - m.TotalCredit).ToString("N2")
            </div>
            <div class="text-right">
                @previusFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_Interest).Sum(m => m.TotalDebit - m.TotalCredit).ToString("N2")
            </div>



            var remainCurrentFiscalYearExpenses = currentFiscalYearExpenses
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Selling)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Administrative)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Asset_Deprecate)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_CostOfGoodsSold)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Interest)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Prohibit)
            .ToList();


            var remainPreviusFiscalYearExpenses = previusFiscalYearExpenses
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Selling)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Administrative)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Asset_Deprecate)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_CostOfGoodsSold)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Interest)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Prohibit)
            .ToList();







            <div class="font-semibold col-span-2 font-semibold">
                รวมค่าใช้จ่าย
            </div>
            <div class="text-right border-dark border-top font-semibold">
                @currentFiscalYearExpenses.Sum(m => m.TotalDebit - m.TotalCredit).ToString("N2")
            </div>
            <div class="text-right border-dark border-top font-semibold">
                @previusFiscalYearExpenses.Sum(m => m.TotalDebit - m.TotalCredit).ToString("N2")
            </div>

            <div class="h-12 col-span-full">
            </div>


            <div class=" col-span-2">
                กำไร(ขาดทุน) ก่อนภาษีเงินได้
            </div>
            <div class=" text-right border-dark">
                @{
                    var currentYearGrossMargin = currentFiscalYearIncomes.Sum(m => m.TotalCredit - m.TotalDebit) - currentFiscalYearExpenses.Sum(m => m.TotalDebit - m.TotalCredit);
                }
                @(currentYearGrossMargin.ToString("N2"))
            </div>
            <div class=" text-right border-dark">
                @{
                    var previusYearGrossMargin = previusFiscalYearIncomes.Sum(m => m.TotalCredit - m.TotalDebit) - previusFiscalYearExpenses.Sum(m => m.TotalDebit - m.TotalCredit);
                }
                @(previusYearGrossMargin.ToString("N2"))
            </div>


            var currentYearIncomeTaxBalance = Model.FiscalYearAccountBalances
            .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Expense)
            .Where(m => m.Account.SubType == AccountSubTypes.Expense_IncomeTax)
            .FirstOrDefault();

            var previusYearIncomeTaxBalance = Model.PreviusFiscalYear.FiscalYearAccountBalances
            .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Expense)
            .Where(m => m.Account.SubType == AccountSubTypes.Expense_IncomeTax)
            .FirstOrDefault();

            <div class=" col-span-2">
                <a href="/Accounting/Accounts/@currentYearIncomeTaxBalance.Account?.Id/" target="_self">
                    ค่าใช้จ่ายภาษีเงินได้
                </a>
            </div>
            <div class=" text-right border-dark border-top">
                @if (currentYearIncomeTaxBalance != null)
                {
                    <span>@(currentYearIncomeTaxBalance.TotalDebit.ToString("N2"))</span>
                }
            </div>
            <div class=" text-right border-dark border-top">
                @if (currentYearIncomeTaxBalance != null)
                {
                    <span>@(previusYearIncomeTaxBalance.TotalDebit.ToString("N2"))</span>
                }
            </div>


            <div class=" col-span-2 font-semibold">
                กำไร(ขาดทุน) สุทธิ
            </div>
            <div class=" text-right border-dark border-top font-semibold">
                @((currentYearGrossMargin - currentYearIncomeTaxBalance.TotalDebit).ToString("N2"))
            </div>
            <div class=" text-right border-dark border-top font-semibold">
                @((previusYearGrossMargin - previusYearIncomeTaxBalance.TotalDebit).ToString("N2"))
            </div>
        }
    </div>
    
    <div class="mt-4">
        งบแสดงฐานะการเงินฉบับนี้ได้รับการอนุมัติจากที่ประชุมสามัญผู้ถือหุ้นครั้งที่ 1/@(Model.EndDate.Year - 1 + 543) เมื่อวันที่ 30 เมษายน @(Model.EndDate.Year + 1 + 543)
    </div>
</div>
