@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums


@{
    var stock = Model.FiscalYearAccountBalances
    .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Capital)
    .Where(m => m.Account.SubType == AccountSubTypes.Equity_Stock)
    .First();

    var retainedEarning = Model.FiscalYearAccountBalances
    .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Capital)
    .Where(m => m.Account.SubType == AccountSubTypes.Equity_RetainEarning)
    .First();
}

<div class="row">
    <div class="col-6   ">
        ยอดคงเหลือ ณ ต้นงวด  @(Model.EndDate.Year - 1 + 543)
    </div>
    <div class="col-2 p-0 text-right border-dark border-top">
        @stock.OpeningCredit.ToString("N2")
    </div>
    <div class="col-2 p-0 text-right border-dark border-top">
        @retainedEarning.OpeningCredit.ToString("N2")
    </div>
    <div class="col-2 p-0 text-right border-dark border-top">
        @((stock.OpeningCredit + retainedEarning.OpeningCredit).ToString("N2"))
    </div>
</div>

<div class="row">
    <div class="col-6   ">
        จ่ายเงินปันผล
    </div>
    <div class="col-2 p-0 text-right border-dark border-top">
    </div>
    <div class="col-2 p-0 text-right border-dark border-top">
        (@retainedEarning.Debit.ToString("N2"))
    </div>
    <div class="col-2 p-0 text-right border-dark border-top">
        (@retainedEarning.Debit.ToString("N2"))
    </div>
</div>

<div class="row">
    <div class="col-6   ">
        กำไร(ขาดทุน) สุทธิ สำหรับงวด @(Model.EndDate.Year + 543)
    </div>
    <div class="col-2 p-0 text-right border-dark border-top">
    </div>
    <div class="col-2 p-0 text-right border-dark border-top">
        @retainedEarning.ClosingCredit.ToString("N2")
    </div>
    <div class="col-2 p-0 text-right border-dark border-top">
        @retainedEarning.ClosingCredit.ToString("N2")
    </div>
</div>
<div class="row">
    <div class="col-6   ">
        ยอดคงเหลือปลายงวด  @(Model.EndDate.Year + 543)
    </div>
    <div class="col-2 p-0 text-right border-dark border-top">
        @stock.ClosedCredit.ToString("N2")
    </div>
    <div class="col-2 p-0 text-right border-dark border-top">
        @retainedEarning.ClosedCredit.ToString("N2")
    </div>
    <div class="col-2 p-0 text-right border-dark border-top">
        @((stock.ClosedCredit + retainedEarning.ClosedCredit).ToString("N2"))
    </div>
</div>
