@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums


@{
    var stock = Model.FiscalYearAccountBalances
    .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Capital)
    .Where(m => m.Account.SubType == AccountSubTypes.Equity_Stock)
    .First();

    var retainedEarning = Model.FiscalYearAccountBalances
    .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Capital)
    .Where(m => m.Account.SubType == AccountSubTypes.Equity_RetainEarning)
    .First();
}

<div class="flex flex-wrap">
    <div class="col-6   ">
        ?????????? ? ??????  @(Model.EndDate.Year - 1 + 543)
    </div>
    <div class="w-2/12 text-right">
        @stock.OpeningCredit.ToString("N2")
    </div>
    <div class="w-2/12 text-right">
        @retainedEarning.OpeningCredit.ToString("N2")
    </div>
    <div class="w-2/12 text-right">
        @((stock.OpeningCredit + retainedEarning.OpeningCredit).ToString("N2"))
    </div>
</div>

<div class="flex flex-wrap">
    <div class="col-6   ">
        ?????????????
    </div>
    <div class="w-2/12 text-right ">
    </div>
    <div class="w-2/12 text-right">
        (@retainedEarning.Debit.ToString("N2"))
    </div>
    <div class="w-2/12 text-right ">
        (@retainedEarning.Debit.ToString("N2"))
    </div>
</div>




<div class="flex flex-wrap">
    <div class="col-6   ">
        ????(??????) ????? ????????? @(Model.EndDate.Year + 543)
    </div>
    <div class="w-2/12 text-right ">
    </div>
    <div class="w-2/12 text-right ">
        @retainedEarning.ClosingCredit.ToString("N2")
    </div>
    <div class="w-2/12 text-right ">
        @retainedEarning.ClosingCredit.ToString("N2")
    </div>
</div>
<div class="flex flex-wrap font-bold">
    <div class="col-6   ">
        เลขที่ผู้เสียภาษี  @(Model.EndDate.Year + 543)
    </div>
    <div class="w-2/12 text-right border-dark border-top">
        @stock.ClosedCredit.ToString("N2")
    </div>
    <div class="w-2/12 text-right border-dark border-top">
        @retainedEarning.ClosedCredit.ToString("N2")
    </div>
    <div class="w-2/12 text-right border-dark border-top">
        @((stock.ClosedCredit + retainedEarning.ClosedCredit).ToString("N2"))
    </div>
</div>
