@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums


<div class="">
    <div class="mh-50"></div>
    <div class="text-center font-semibold  mb-3">
        @Organization.Profiles.GetSelf().Name<br />
        งบกำไรขาดทุน<br />
        สำหรับรอบระยะเวลาสิ้นสุด ณ วันที่  31 ธันวาคม @(Model.EndDate.Year - 1 + 543) และ @(Model.EndDate.Year + 543)
    </div>
    <div class="mh-50"></div>
    <div class="flex flex-wrap">
        <div class="w-9/12">
        </div>
        <div class="w-2/12 p-0 font-semibold text-center">
            หน่วย:บาท
        </div>
        <div class="col-4  font-semibold ">
        </div>
        <div class="col-4">
        </div>
        <div class="w-2/12 p-0  text-right font-semibold border-dark border-top">
            @(Model.EndDate.Year + 543)
        </div>
        <div class="w-2/12 p-0 text-right font-semibold border-dark border-top">
            @(Model.EndDate.Year - 1 + 543)
        </div>
    </div>
    <div class="flex mb-3">
        <div class="w-full  font-semibold ">
            รายได้
        </div>
        @{
            var currentFiscalYearIncomes = Model.FiscalYearAccountBalances
            .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Income)
            .OrderByDescending(m => (m.TotalDebit + m.TotalCredit))
            .ToList();


            var previusFiscalYearIncomes = Model.PreviusFiscalYear.FiscalYearAccountBalances
            .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Income)
            .OrderByDescending(m => (m.TotalDebit + m.TotalCredit))
            .ToList();


            foreach (var line in currentFiscalYearIncomes)
            {
                <div class="col-1">
                </div>
                <div class="col-4">
                    <a href="/@CompanyId/Accounting/Accounts/@line.AccountId/" target="_self">
                        @line.Account.Name
                    </a>
                </div>
                <div class="col-3">
                    @line.Account.SubType.ToString()
                </div>
                <div class="w-2/12 p-0 text-right">
                    @line.TotalCredit.ToString("N2")
                </div>
                <div class="w-2/12 p-0 text-right">
                    @previusFiscalYearIncomes.Where(a => a.AccountId == line.AccountId).First().TotalCredit.ToString("N2")
                </div>
            }

            <div class="w-2/12">
            </div>
            <div class="col-6 font-semibold">
                รวมรายได้
            </div>
            <div class="w-2/12 p-0 text-right border-dark border-top">
                @currentFiscalYearIncomes.Sum(m => m.TotalCredit).ToString("N2")
            </div>
            <div class="w-2/12 p-0 text-right  border-dark border-top">
                @previusFiscalYearIncomes.Sum(m => m.TotalCredit).ToString("N2")
            </div>
        }
    </div>
    <div class="flex flex-wrap">
        <div class="w-full  font-semibold ">
            ค่าใช้จ่าย
        </div>

        @{
            var currentFiscalYearExpenses = Model.FiscalYearAccountBalances
            .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Expense)
            .Where(m => m.Account.SubType != AccountSubTypes.Expense_IncomeTax)
            .OrderBy(x => x.Account.SubType)
            .ToList();

            var previusFiscalYearExpenses = Model.PreviusFiscalYear.FiscalYearAccountBalances
            .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Expense)
            .Where(m => m.Account.SubType != AccountSubTypes.Expense_IncomeTax)
            .OrderBy(x => x.Account.SubType)
            .ToList();



            <div class="col-1">
            </div>
            <div class="col-4">
                ต้นทุนขายและบริการ
            </div>
            <div class="col-3">
            </div>
            <div class="w-2/12 p-0 text-right">
                @currentFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_CostOfGoodsSold).Sum(m => m.TotalDebit).ToString("N2")
            </div>
            <div class="w-2/12 p-0 text-right">
                @previusFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_CostOfGoodsSold).Sum(m => m.TotalDebit).ToString("N2")
            </div>



            <div class="col-1">
            </div>
            <div class="col-4">
                ค่าใช้จ่ายในการบริหาร
            </div>
            <div class="col-3">
            </div>
            <div class="w-2/12 p-0 text-right">
                @currentFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_Administrative || e.Account.SubType == AccountSubTypes.Expense_Asset_Deprecate || e.Account.SubType == AccountSubTypes.Expense_Prohibit).Sum(m => m.TotalDebit).ToString("N2")
            </div>
            <div class="w-2/12 p-0 text-right">
                @previusFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_Administrative || e.Account.SubType == AccountSubTypes.Expense_Asset_Deprecate || e.Account.SubType == AccountSubTypes.Expense_Prohibit).Sum(m => m.TotalDebit).ToString("N2")
            </div>




            <div class="col-1">
            </div>
            <div class="col-4">
                ค่าใช้จ่ายในการขาย
            </div>
            <div class="col-3">
            </div>
            <div class="w-2/12 p-0 text-right">
                @currentFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_Selling).Sum(m => m.TotalDebit).ToString("N2")
            </div>
            <div class="w-2/12 p-0 text-right">
                @previusFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_Selling).Sum(m => m.TotalDebit).ToString("N2")
            </div>

            <div class="col-1">
            </div>
            <div class="col-4">
                ต้นทุนทางการเงิน
            </div>
            <div class="col-3">
            </div>
            <div class="w-2/12 p-0 text-right">
                @currentFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_Interest).Sum(m => m.TotalDebit).ToString("N2")
            </div>
            <div class="w-2/12 p-0 text-right">
                @previusFiscalYearExpenses.Where(e => e.Account.SubType == AccountSubTypes.Expense_Interest).Sum(m => m.TotalDebit).ToString("N2")
            </div>



            var remainCurrentFiscalYearExpenses = currentFiscalYearExpenses
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Selling)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Administrative)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Asset_Deprecate)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_CostOfGoodsSold)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Interest)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Prohibit)

            .ToList();


            var remainPreviusFiscalYearExpenses = previusFiscalYearExpenses
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Selling)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Administrative)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Asset_Deprecate)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_CostOfGoodsSold)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Interest)
            .Where(e => e.Account.SubType != AccountSubTypes.Expense_Prohibit)
            .ToList();


  



            <div class="w-2/12">
            </div>
            <div class="col-6 font-semibold">
                รวมค่าใช้จ่าย
            </div>
            <div class="w-2/12 p-0 text-right  border-dark border-top">
                @currentFiscalYearExpenses.Sum(m => m.TotalDebit).ToString("N2")
            </div>
            <div class="w-2/12 p-0 text-right  border-dark border-top">
                @previusFiscalYearExpenses.Sum(m => m.TotalDebit).ToString("N2")
            </div>

            <div class="w-full mt-4">
            </div>

            <div class="col-4">
                กำไร(ขาดทุน) ก่อนภาษีเงินได้
            </div>
            <div class="col-4">
            </div>
            <div class="w-2/12 p-0 text-right border-dark">
                @{
                    var currentYearGrossMargin = currentFiscalYearIncomes.Sum(m => m.TotalCredit) - currentFiscalYearExpenses.Sum(m => m.TotalDebit);
                }
                @(currentYearGrossMargin.ToString("N2"))
            </div>
            <div class="w-2/12 p-0 text-right border-dark">
                @{
                    var previusYearGrossMargin = previusFiscalYearIncomes.Sum(m => m.TotalCredit) - previusFiscalYearExpenses.Sum(m => m.TotalDebit);
                }
                @(previusYearGrossMargin.ToString("N2"))
            </div>


            var currentYearIncomeTaxBalance = Model.FiscalYearAccountBalances
            .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Expense)
            .Where(m => m.Account.SubType == AccountSubTypes.Expense_IncomeTax)
            .FirstOrDefault();

            var previusYearIncomeTaxBalance = Model.PreviusFiscalYear.FiscalYearAccountBalances
            .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Expense)
            .Where(m => m.Account.SubType == AccountSubTypes.Expense_IncomeTax)
            .FirstOrDefault();

            <div class="col-4">
                <a href="/@CompanyId/Accounting/Accounts/@currentYearIncomeTaxBalance.Account?.Id/" target="_self">
                    ค่าใช้จ่ายภาษีเงินได้
                </a>
            </div>
            <div class="col-4">
            </div>
            <div class="w-2/12 p-0 text-right  border-dark border-top">
                @if (currentYearIncomeTaxBalance != null)
                {
                    <span>@(currentYearIncomeTaxBalance.TotalDebit.ToString("N2"))</span>
                }
            </div>
            <div class="w-2/12 p-0 text-right border-dark border-top">
                @if (currentYearIncomeTaxBalance != null)
                {
                    <span>@(previusYearIncomeTaxBalance.TotalDebit.ToString("N2"))</span>
                }
            </div>


            <div class="col-4">
                กำไร(ขาดทุน) สุทธิ
            </div>
            <div class="col-4">
            </div>
            <div class="w-2/12 p-0 text-right  border-dark border-top">
                @((currentYearGrossMargin - currentYearIncomeTaxBalance.TotalDebit).ToString("N2"))
            </div>
            <div class="w-2/12 p-0 text-right  border-dark border-top">
                @((previusYearGrossMargin - previusYearIncomeTaxBalance.TotalDebit).ToString("N2"))
            </div>
        }
    </div>
</div>
