@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums







<div class="mt-5 page-break">
</div>

<div class="row ">
    <div class="col-12  font-weight-600 ">
        3. เงินสดและรายการเทียบเท่าเงินสด
    </div>
</div>

<div class="flex">
    <div class="col-9">
    </div>
    <div class="w-3/12 p-0  text-center">
        หน่วย:บาท
    </div>
    <div class="col-4   ">
    </div>
    <div class="col-4">
    </div>
    <div class="w-2/12 p-0  text-right  border-dark border-top border-bottom">
        @(Model.EndDate.Year + 543)
    </div>
    <div class="w-2/12 p-0 text-right  border-dark border-top border-bottom">
        @(Model.EndDate.Year - 1 + 543)
    </div>
</div>

<div class="flex">
    @{
        var lines = Model.FiscalYearAccountBalances
        .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Asset)
        .Where(m => m.Account.SubType == AccountSubTypes.Asset_Cash
        || m.Account.SubType == AccountSubTypes.Asset_Bank)
        .Where(m => !(m.TotalDebit == 0 && m.TotalCredit == 0 && m.OpeningDebit == 0 && m.OpeningCredit == 0))
        .OrderBy(m => m.Account.SubType)
        .ToList();

        foreach (var line in lines)
        {
            <div class="col-4">
                <a href="/@CompanyId/Accounting/Accounts/@line.AccountId/" target="_blank">
                    @line.Account.Name
                </a>
            </div>
            <div class="col-4">
                @line.Account.SubType.ToString()
            </div>
            <div class="w-2/12 p-0 text-right">
                @((line.ClosedDebit - line.ClosedCredit).ToString("N2"))
            </div>
            <div class="w-2/12 p-0 text-right">
                @((line.OpeningDebit - line.OpeningCredit).ToString("N2"))
            </div>

        }

        <div class="col-4">
        </div>
        <div class="col-4">
        </div>
        <div class="w-2/12 p-0 text-right  border-dark border-top">
            @(lines.Sum(line => line.ClosedDebit - line.ClosedCredit).ToString("N2"))
        </div>
        <div class="w-2/12 p-0 text-right  border-dark border-top">
            @(lines.Sum(line => line.OpeningDebit - line.OpeningCredit).ToString("N2"))
        </div>

    }
</div>

