@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums


@{
    Layout = "_Layout_Empty";
}
<style>
    @@media print {
        .page-break {
            page-break-before: always;
        }
    }
</style>



<div class="row">
    <div class="col px-3 col-center mh-100v">
        <div class="mh-50"></div>
        <div class="text-center font-weight-600  mb-3">
            บริษัท เดอะ เอ็นจิเนียริ่ง คร๊าฟ จำกัด<br />
            งบแสดงการคำนวณภาษี<br />
            สำหรับรอบระยะเวลาสิ้นสุด ณ วันที่  31 ธันวาคม @(Model.EndDate.Year - 1 + 543) และ @(Model.EndDate.Year + 543)
        </div>

        <div class="mh-50"></div>
        <div class="row mb-3">
            <div class="col-12  font-weight-600 ">
                รายได้
            </div>
            @{
                var incomes = Model.FiscalYearAccountBalances
                .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Income)
                .OrderByDescending(m => (m.TotalDebit + m.TotalCredit))
                .ToList();

                foreach (var line in incomes)
                {
                    <div class="col-4">
                        <a href="/@CompanyId/Accounting/Accounts/@line.AccountId/" target="_blank">
                            @line.Account.Name
                        </a>
                    </div>
                    <div class="col-4">
                        @line.Account.SubType.ToString()
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-2 p-0 text-right">
                        @line.TotalCredit.ToString("N2")
                    </div>
                }

                <div class="col-4">
                </div>
                <div class="col-4">
                </div>
                <div class="col-2  border-dark border-top">
                    รวมรายได้
                </div>
                <div class="col-2 p-0 text-right font-weight-600 border-dark border-top">
                    @incomes.Sum(m => m.TotalCredit).ToString("N2")
                </div>
            }
        </div>




        <div class="mh-50  page-break"></div>
        <div class="text-center font-weight-600  mb-3">
            บริษัท เดอะ เอ็นจิเนียริ่ง คร๊าฟ จำกัด<br />
            งบแสดงการคำนวณภาษี<br />
            สำหรับรอบระยะเวลาสิ้นสุด ณ วันที่  31 ธันวาคม @(Model.EndDate.Year - 1 + 543) และ @(Model.EndDate.Year + 543)
        </div>
        <div class="mh-50"></div>
        <div class="row">
            <div class="col-12  font-weight-600 ">
                ค่าใช้จ่าย
            </div>

            @{
                var expenses = Model.FiscalYearAccountBalances
                .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Expense)
                // .Where(m => m.Account.SubType != AccountSubTypes.TaxExpense)
                .Where(m => m.Account.SubType != AccountSubTypes.Expense_IncomeTax)
                // .Where(m => m.Account.SubType != AccountSubTypes.UnCliamableExpense)
                .OrderBy(x => x.Account.SubType)
                .ToList();

                foreach (var line in expenses)
                {
                    <div class="col-4">
                        <a href="/@CompanyId/Accounting/Accounts/@line.AccountId/" target="_blank">
                            @line.Account.Name
                        </a>
                    </div>
                    <div class="col-4">
                        @line.Account.SubType
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-2 p-0 text-right">
                        @line.TotalDebit.ToString("N2")
                    </div>
                }

                <div class="col-4">
                </div>
                <div class="col-3">
                </div>
                <div class="col-3  border-dark border-top">
                    รวมค่าใช้จ่าย
                </div>
                <div class="col-2 p-0 text-right font-weight-600 border-dark border-top">
                    @expenses.Sum(m => m.TotalDebit).ToString("N2")
                </div>


                <div class="col-4">
                </div>
                <div class="col-3">
                </div>
                <div class="col-3  border-dark border-top">
                    กำไรก่อนภาษีเงินได้
                </div>
                <div class="col-2 p-0 text-right font-weight-600 border-dark border-top">
                    @{
                        var grossMargin = incomes.Sum(m => m.TotalCredit) - expenses.Sum(m => m.TotalDebit);
                    }
                    @(grossMargin.ToString("N2"))
                </div>


                var IncomeTaxBalance = Model.FiscalYearAccountBalances
                .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Expense)
                .Where(m => m.Account.SubType == AccountSubTypes.Expense_IncomeTax)
                .FirstOrDefault();


                <div class="col-4">
                </div>
                <div class="col-3">
                </div>
                <div class="col-3  border-dark border-top">
                    <a href="/@CompanyId/Accounting/Accounts/@IncomeTaxBalance.Account.Id/" target="_blank">
                        ภาษีเงินได้
                    </a>
                </div>
                <div class="col-2 p-0 text-right font-weight-600 border-dark border-top">
                    @if (IncomeTaxBalance != null)
                    {
                        <span>@(IncomeTaxBalance.TotalDebit.ToString("N2"))</span>
                    }


                </div>


                <div class="col-4">
                </div>
                <div class="col-3">
                </div>
                <div class="col-3  border-dark border-top">
                    กำไรสุทธิ
                </div>
                <div class="col-2 p-0 text-right font-weight-600 border-dark border-top">
                    @((grossMargin - IncomeTaxBalance.TotalDebit).ToString("N2"))
                </div>




            }

            <div class="mh-50 page-break"></div>
            <div class="text-center font-weight-600  mb-3">
                บริษัท เดอะ เอ็นจิเนียริ่ง คร๊าฟ จำกัด<br />
                งบแสดงการคำนวณภาษี<br />
                สำหรับรอบระยะเวลาสิ้นสุด ณ วันที่  31 ธันวาคม @(Model.EndDate.Year - 1 + 543) และ @(Model.EndDate.Year + 543)
            </div>
            <div class="mh-50"></div>
            <div class="row">
                <div class="col-12  font-weight-600 ">
                    ค่าใช้จ่ายต้องห้าม
                </div>
                @{
                    var UnClaimExpenses = Model.FiscalYearAccountBalances
                    .Where(m => m.Account.Type == ERPKeeperCore.Enterprise.Models.Accounting.Enums.AccountTypes.Expense)
                    .Where(m =>
                    m.Account.SubType == AccountSubTypes.Expense_NonRefundableTax ||
                    m.Account.SubType == AccountSubTypes.Expense_Prohibit
                    )
                    .OrderBy(x => x.Account.SubType)
                    .ToList();


                    foreach (var line in UnClaimExpenses)
                    {
                        <div class="col-4">
                            <a href="/@CompanyId/Accounting/Accounts/@line.AccountId/" target="_blank">
                                @line.Account.Name
                            </a>
                        </div>
                        <div class="col-3">
                            @line.Account.SubType
                        </div>
                        <div class="col-3">
                        </div>
                        <div class="col-2 p-0 text-right">
                            @line.TotalDebit.ToString("N2")
                        </div>
                    }

                    <div class="col-4">
                    </div>
                    <div class="col-3">
                    </div>
                    <div class="col-3  border-dark border-top">
                        รวม
                    </div>
                    <div class="col-2 p-0 text-right font-weight-600 border-dark border-top">
                        @UnClaimExpenses.Sum(m => m.TotalDebit).ToString("N2")
                    </div>


                    <div class="col-4">
                    </div>
                    <div class="col-3">
                    </div>
                    <div class="col-3 border-dark border-top">
                        กำไรสำหรับคำนวนภาษี
                    </div>
                    <div class="col-2 p-0 text-right border-dark border-top">

                        @{
                            var totalProfitFortax = incomes.Sum(m => m.TotalCredit) - expenses.Sum(m => m.TotalDebit) + UnClaimExpenses.Sum(m => m.TotalDebit);

                        }
                        @(totalProfitFortax.ToString("N2"))
                    </div>
                }



            </div>
        </div>


        <div class="row mt-4">
            <div class="col-12  font-weight-600 ">
                ภาษีเงินได้
            </div>
            @{
                <div class="col-4">
                    0-300,000
                </div>
                <div class="col-3">
                </div>
                <div class="col-2">
                    @{
                        decimal dedecut = 0;
                        decimal remainIncomeTax = totalProfitFortax;

                        if (remainIncomeTax > 0 && remainIncomeTax <= 300000)
                            dedecut = remainIncomeTax;
                        else if (remainIncomeTax > 300000)
                            dedecut = 300000;

                        remainIncomeTax = remainIncomeTax - dedecut;
                    }
                    <span>@dedecut</span>
                </div>

                <div class="col-2 p-0 text-right ">
                    @((dedecut * 0).ToString("N2"))
                </div>
                <div class="col-4">
                    300,000 - @grossMargin
                </div>
                <div class="col-3">
                </div>
                <div class="col-2 ">
                    @remainIncomeTax
                </div>
                <div class="col-2 p-0 text-right ">
                    @((remainIncomeTax * 15 / 100).ToString("N2"))
                </div>

                <div class="col-4">
                </div>
                <div class="col-3">
                </div>
                <div class="col-2 font-weight-600 border-dark border-top">
                    @totalProfitFortax
                </div>
                <div class="col-2 p-0 text-right font-weight-600  border-dark border-top">
                    @((remainIncomeTax * 15 / 100).ToString("N2"))
                </div>
            }
        </div>
    </div>
</div>
