@model ERPKeeperCore.Enterprise.Models.Accounting.FiscalYear
@using ERPKeeperCore.Enterprise.Models.Accounting.Enums

@{
    Layout = "_Layout_Export";
}


<div class="w-full text-center">
    @Organization.Profiles.GetSelf().Name<br />
    บัญชีแยกประเภท<br />
    สำหรับรอบระยะเวลาสิ้นสุด ณ วันที่  31 ธันวาคม @(Model.EndDate.Year - 1 + 543) และ @(Model.EndDate.Year + 543)
</div>


@{
    var Transactions = Organization.Transactions.GetLegers(Model);
    var ledgerGroupByAccounts = Transactions.GroupBy(t => t.AccountId)
    .Select(g => new
    {
        Key = g.Key,
        AccountName = g.First().Account.Name,
        Account = g.First().Account,
        Legers = g.OrderBy(x => x.Date).ToList()
    })
    .ToList();

    foreach (var ledgerGroup in ledgerGroupByAccounts)
    {
        <div class="page-break-after">
            <div class="font-bold my-3 text-center">
                บัญชี @ledgerGroup.AccountName.ToString()  (@ledgerGroup.Account.Type , @ledgerGroup.Account.SubType)
            </div>
            <div class="grid grid-cols-8">

                <div>วันที่</div>
                <div>รายการ</div>   
                <div>อ้างอิง</div>
                <div></div>    
                <div></div>
                <div class="text-right font-bold">Dr.</div>
                <div class="text-right font-bold">Cr.</div>
                <div></div>

                @foreach (var ledger in ledgerGroup.Legers.OrderBy(s => s.Date))
                {
                    <div>@(ledger.Date.ToShortDateString())</div>
                    <div>@ledger.Transaction.Name </div>
                    <div class="overflow-hidden">@ledger.Transaction.Type </div>
                    <div class="overflow-hidden col-span-2">@ledger.Transaction.Reference</div>
                    <div class="text-right ">@ledger.Debit.ToString("N2")</div>
                    <div class="text-right ">@ledger.Credit.ToString("N2")</div>
                    <div class="text-right ">@ledger.CurrentBalance.ToString("N2")</div>
                }
            </div>
        </div>
    }
}
