@model ERPKeeperCore.Enterprise.Models.Suppliers.SupplierPayment



<form id="EditForm" action="/Suppliers/Sales/@Model.Id/Update" method="post">
    <div >
        <div class="grid grid-cols-3">

            <div class="border">
                <div class=" bg-gray-100 p-2 mb-2 ">
                    <div class="flex flex-wrap">
                        <div class="w-10/12 p-0">
                            <div class="mb-3 font-semibold text-lg">Supplier</div>
                        </div>
                        <div class="w-2/12 p-0 text-right">
                        </div>
                    </div>

                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Purchase.Name).Label("Sale").LabelMode(EditorLabelMode.Static).Disabled(true)</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Purchase.Supplier.Profile.Name).Label("Tax").LabelMode(EditorLabelMode.Static).Disabled(true)</div>

                </div>
            </div>

            <div class="border">
                <div class=" bg-gray-100 p-2 mb-2 ">
                    <div class="mb-3 font-semibold text-lg">General</div>
                    <div class="mb-2">@Html.DevExtreme().TextBoxFor(m => m.Name).Label("No").LabelMode(EditorLabelMode.Static).Disabled(true)</div>
                    <div class="mb-2">@Html.DevExtreme().DateBoxFor(m => m.Date).Label("Date").LabelMode(EditorLabelMode.Static)</div>
                    <div class="mb-2">@Html.DevExtreme().NumberBoxFor(m => m.Amount).Label("Amount").LabelMode(EditorLabelMode.Static)</div>
                    <div class="mb-2">@Html.DevExtreme().NumberBoxFor(m => m.AmountDiscount).Label("Discount").LabelMode(EditorLabelMode.Static)</div>
                          <div class="mb-2">@Html.DevExtreme().NumberBoxFor(m => m.AmountAfterDiscount).Label("Total").LabelMode(EditorLabelMode.Static)</div>

                </div>
            </div>

            <div class="border bg-gray-100">
                <div class=" bg-gray-100 p-2 mb-2 rounded">
                    <div class="mb-3 font-semibold text-lg">Retention</div>

                    <div class="mb-2">
                        @(Html.DevExtreme().SelectBoxFor(m => m.RetentionTypeId)
                            .DataSource(Organization.ErpCOREDBContext.RetentionTypes.ToList().Select(t => new { t.Id, t.Name }).ToList())
                            .Placeholder("Retention")
                            .DisplayExpr("Name")
                            .ValueExpr("Id")
                            .Label("Retention")
                            .ShowClearButton(true)
                            .LabelMode(EditorLabelMode.Static)
                            )
                    </div>
                    <div class="mb-2">@Html.DevExtreme().NumberBoxFor(m => m.AmountRetention).Label("Retention").LabelMode(EditorLabelMode.Static)</div>
                </div>
            </div>



            <div class="border">
                <div class=" bg-gray-100 p-2 mb-2 ">
                    <div class="mb-3 font-semibold text-lg">Memo</div>
                    <div class="mb-2">@Html.DevExtreme().TextAreaFor(m => m.Memo).Height(150).Label("Detail").LabelMode(EditorLabelMode.Static)</div>
                </div>
            </div>
            <div class="border">
                <div class=" bg-gray-100 p-2 mb-2 ">
                    <button class="btn text-white py-1 btn-sm" style="background-color: #5D6EAE;" type="button" onclick="document.getElementById('EditForm').submit();">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
 
</form>
