@model ERPKeeperCore.Enterprise.Models.Suppliers.SupplierPayment


@{
    Layout = "_Layout_Export";

    var documentNameContent = "???????????";
    var SupplierAddress = Model.Purchase.Supplier.Profile.Addresses.FirstOrDefault();
}

@await Html.PartialAsync("/areas/enterprise_export/view/shared/_header.cshtml", documentNameContent)

<div class="grid grid-cols-3 gap-2 mb-3" id="BuyerDetail">
    <div class="col-span-2 border border-dark p-2">
        <div>
            <b>???????</b>
            <a href="/Suppliers/Suppliers/@Model.Purchase.SupplierId">
                @Model.Purchase.Supplier.Profile.Name
            </a>
        </div>
        <div>
            เลขที่ผู้เสียภาษี @Model.Purchase.Supplier.Profile.TaxNumber สาขา @SupplierAddress?.Number
        </div>
        @if (SupplierAddress != null)
        {
            <div>
                @SupplierAddress.AddressLine?.Trim()<br />
                @SupplierAddress.PhoneNumber
            </div>
        }
    </div>
    <div class=" border border-dark p-2">
        <div class="grid grid-cols-2 gap-x-2">
            <div class="font-semibold">??????</div>
            <div class="text-right">@Model.Name</div>

            <div class="font-semibold">??????</div>
            <div class="text-right">@Model.Date.ToString("dd-MMM-yyyy")</div>

            <div class="font-semibold">???????</div>
            <div class="text-right">@Model.Reference</div>
        </div>
    </div>
</div>


<div id="Items" class=" border border-dark p-2 mb-3">
    <div class="flex font-semibold">
        <div class="w-2/12">
            ??????????
        </div>
        <div class="w-2/12 ">
            เลขที่ผู้เสียภาษี?
        </div>
        <div class="">
            ???????
        </div>
        <div class="">
        </div>
        <div class="w-2/12  p-0 text-right">
            ?????????
        </div>
    </div>


    <div class="flex flex-wrap">
        <div class="w-2/12">
            @Model.Purchase.Name
        </div>
        <div class="w-2/12 ">
            @Model.Purchase.Date.ToString("dd-MMM-yyyy")
        </div>
        <div class="">
            @Model.Purchase.Reference
        </div>
        <div class="">
        </div>
        <div class="w-2/12  p-0 text-right">
            @Model.Amount.ToString("N2")
        </div>
    </div>
</div>








<div class="grid grid-cols-3 gap-2 mb-1 border border-dark p-2" id="Summary">
    <div class="col-span-2">
        @*    เลขที่ผู้เสียภาษี<br />
        ?????????: ?????? ???? ?????????????? ????? ?????<br />
        ??????:  SCB ??????????? 667-294439-3 *@
    </div>
    <div>
        <div class="flex flex-wrap">
            <div class="w-6/12 text-right">
                ??????
            </div>
            <div class="w-6/12 p-0 text-right">
                @Model.Amount.ToString("N2")
            </div>
        </div>


        <div class="flex flex-wrap">
            <div class="w-6/12 text-right">
                ??????
            </div>
            <div class="w-6/12 p-0 text-right ">
                @Model.AmountDiscount.ToString("N2")
            </div>
        </div>


        <div class="flex flex-wrap">
            <div class="w-6/12 text-right">
                ?????? ?.??????? , @Model.RetentionType?.Name
            </div>
            <div class="w-6/12 p-0 text-right ">
                @Model.AmountRetention.ToString("N2")
            </div>
        </div>



        <div class="flex ">
            <div class="w-6/12 text-right">
                ????????????????
            </div>
            <div class="w-6/12 p-0 text-right">
                @Model.AmountAfterDiscountAndRetention.ToString("N2")
            </div>
        </div>
    </div>

    <div class="p-0 col-span-3 text-right">
        ( @ERPKeeperCore.Enterprise.Helpers.ThaiMoneyConverter.ReturnThaiMoney(Model.AmountAfterDiscountAndRetention) )
    </div>



</div>


<div class="mb-3">
    Issuer: @User.Identity.Name
</div>