@model string

@{
    var branch = Organization.ErpCOREDBContext.Branches.FirstOrDefault();

    if (branch == null)
    {
        var self = Organization.Profiles.GetSelf();
        var firstBranch = self.Addresses.First();
        branch = new ERPKeeperCore.Enterprise.Models.Info.Branch()
                {
                    OrganizationName = self.Name,
                    BranchName = firstBranch.Name,
                    TaxNumber = self.TaxNumber,
                    Address = firstBranch.AddressLine,
                    Number = firstBranch.Number,
                    PhoneNumber = firstBranch.PhoneNumber,

                };
        Organization.ErpCOREDBContext.Branches.Add(branch);
        Organization.SaveChanges();
    }
}


<div class="flex py-3 header border border-dark">
    <div class="grow px-2">
        <div>
            <div class="font-semibold">@branch.OrganizationName</div>
            <div>
                เลขที่ผู้เสียภาษี @branch.TaxNumber สาขา @branch.BranchName
            </div>
        </div>
        <div>
            @branch.Address
        </div>
        <div>
            @branch.AddressLine2
        </div>
        <div>
            @branch.PhoneNumber
            @branch.WebSite
        </div>
    </div>
    <div class="w-3/12  px-2">
        @if (!string.IsNullOrEmpty(Model))
        {
            <div class="font-semibold text-lg text-right">@Model</div>
        }
    </div>
</div>
