

<div class="py-2 mt-3 container-non-responsive @*fixed-bottom*@">
    <div class="row">
        <div class="col-9 px-0">
            <a href="/" class="text-bold">ERPKeeper @@@DateTime.Now.Year</a>  ·
            <a href="/Brands">@SharedLocalizer.GetLocalizedHtmlString("AboutUs")</a>  ·
            <a href="/Stores">@SharedLocalizer.GetLocalizedHtmlString("Contact")</a>  ·
            <a href="/Privacy">@SharedLocalizer.GetLocalizedHtmlString("Privacy")</a>  ·
        </div>
        <div class="col-3 p-0 text-right">
            @System.Globalization.CultureInfo.CurrentCulture.ToString()

            @if (User.Identity.IsAuthenticated)
            {
                Guid CurrentMakerId = Guid.Parse(this.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value);

                <a href="/My/setting/language" title="@System.Globalization.CultureInfo.CurrentCulture.ToString()">
                    <i class="fas fa-language fa-2x"></i>
                </a>
            }
            else
            {
                <i class="fas fa-language fa-2x" title="@System.Globalization.CultureInfo.CurrentCulture.ToString()"></i>
            }

        </div>
    </div>
</div>
